<template>
  <div style="padding-bottom: 100px">
    <a-divider orientation="left"
      >Contribution #{{ contribution.iid }}</a-divider
    >
    <StatusBar :contribution="contribution" />
    <div class="row">
      <div class="col">
        <Details :contribution="contribution" />
      </div>
      <div class="col">
        <TaskCard
          :in-contribution="true"
          :id="contribution.taskId"
          :link-title="true"
        />
      </div>
    </div>
    <br />
    <Feedback :contribution="contribution" :suggestions="getAllSuggestions" />
    <ReviewAction v-if="$auth.loggedIn" :contribution="contribution" />
    <Feedback
      v-if="$auth.loggedIn"
      :contribution="contribution"
      :suggestions="getMySuggestions"
      :is-mine="true"
    />
    <Dynamics :contribution="contribution" />
    <!--    <Timeline :contribution="contribution" />-->
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import TaskCard from '../task/TaskCard'
import Details from './contributionCardComponents/Details'
import Dynamics from './contributionCardComponents/ReviewStatus'
import Feedback from './contributionCardComponents/Feedback'
// import Timeline from './contributionCardComponents/Timeline'
import StatusBar from './contributionCardComponents/ContributionStatusBar'
import ReviewAction from './contributionCardComponents/ReviewAction'

export default {
  name: 'ContributionCard',
  components: {
    StatusBar,
    TaskCard,
    Details,
    Dynamics,
    Feedback,
    // Timeline,
    ReviewAction
  },
  props: {
    contribution: {
      type: Object,
      default: undefined
    }
  },
  data() {
    return {}
  },
  computed: {
    ...mapGetters({
      getCurrentProjectId: 'projects/getCurrentProjectId',
      getCurrentContribution: 'contributions/getCurrentContribution',
      getSuggestionList: 'suggestions/getSuggestionList',
      getSubspaceUser: 'user/getSubspaceUser'
    }),
    suggestions() {
      return this.getSuggestionList
        .filter((s) => s.suggestion.contId === this.contribution.id)
        .sort((a, b) => (a.suggestion.iid > b.suggestion.iid ? 1 : -1))
    },
    getMySuggestions() {
      return this.suggestions
        .filter((s) => s.suggestion.userId === this.getSubspaceUser.id)
        .sort((a, b) => (a.suggestion.iid > b.suggestion.iid ? 1 : -1))
    },
    getAllSuggestions() {
      return this.suggestions
    }
  },
  mounted() {
    this.fetchSuggestionList(this.getCurrentProjectId)
  },
  methods: {
    ...mapActions({
      fetchSuggestionList: 'suggestions/fetchSuggestionList'
    })
  }
}
</script>

<style>
.CodeMirror,
.CodeMirror-scroll {
  min-height: 50px;
}
.row {
  display: flex; /* equal height of the children */
}
.col {
  flex: 1;
}
</style>
