<template>
  <div>
    <a-collapse v-model="activeKey">
      <a-collapse-panel key="1" v-if="queueContributions">
        <template slot="header">
          <a-tag>{{ queueContributions.length || 0 }}</a-tag>
          Review Queue
        </template>
        <ContributionListCard
          :contributions="queueContributions"
          title="Review Queue"
        />
      </a-collapse-panel>
      <a-collapse-panel key="2" v-if="myOpenContributions">
        <template slot="header">
          <a-tag>{{ myOpenContributions.length || 0 }}</a-tag>
          My Open Contributions
        </template>
        <ContributionListCard
          :contributions="myOpenContributions"
          title="My Open Contributions"
        />
      </a-collapse-panel>
      <a-collapse-panel key="3" v-if="openContributions">
        <template slot="header">
          <a-tag>{{ openContributions.length || 0 }}</a-tag>
          Pending Contributions
        </template>
        <ContributionListCard
          :contributions="openContributions"
          title="Pending Contributions"
        />
      </a-collapse-panel>
      <a-collapse-panel key="4" v-if="closedContributions">
        <template slot="header">
          <a-tag>{{ closedContributions.length || 0 }}</a-tag>
          Contribution History
        </template>
        <ContributionListCard
          :contributions="closedContributions"
          title="Contribution History"
        />
      </a-collapse-panel>
    </a-collapse>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import ContributionListCard from './ContributionListCard'

export default {
  name: 'ContributionLists',
  components: {
    ContributionListCard
  },
  data() {
    return {
      activeKey: ['1']
    }
  },
  computed: {
    ...mapGetters({
      getCurrentProjectId: 'projects/getCurrentProjectId',
      getContributionList: 'contributions/getContributionList',
      getSubspaceUser: 'user/getSubspaceUser'
    }),
    closedContributions() {
      return this.getContributionList.filter((c) => c.closed)
    },
    openContributions() {
      return this.getContributionList.filter((c) => !c.closed)
    },
    queueContributions() {
      return this.getContributionList
        .filter((c) => c.showInQueue)
        .filter((c) => c.user.id !== this.getSubspaceUser.id)
        .filter((c) => !c.closed)
    },
    myOpenContributions() {
      return this.getContributionList
        .filter((c) => c.user.id === this.getSubspaceUser.id)
        .filter((c) => !c.closed)
    }
  },
  watch: {
    getCurrentProjectId: {
      handler(newValue) {
        if (newValue !== undefined) {
          this.fetchContributionList(this.getCurrentProjectId)
        }
      }
    },
    getContributionList: {
      deep: true,
      handler(newValue) {}
    }
  },
  mounted() {
    this.fetchContributionList(this.getCurrentProjectId)
  },
  methods: {
    ...mapActions({
      fetchContributionList: 'contributions/fetchContributionList'
    })
  }
}
</script>

<style>
.ant-collapse-content > .ant-collapse-content-box {
  padding: 0;
}
</style>
