<template>
  <div>
    <a-table
      :data-source="contributions"
      :pagination="false"
      :rowKey="(c) => c.id"
    >
      <a-table-column key="iid" title="#" data-index="iid" />
      <a-table-column key="title" title="Title">
        <template slot-scope="text">
          <a-popover :title="text.title" placement="rightTop">
            <template slot="content">
              <MarkdownPreview :content="JSON.parse(text.description)" />
            </template>
            <router-link :to="getContributionUrl(text)">
              {{ text.title }}
            </router-link>
          </a-popover>
        </template>
      </a-table-column>
      <a-table-column
        key="description"
        title="Description"
        data-index="description"
      >
        <template slot-scope="text">
          <span>{{ truncateString(JSON.parse(text), 100) }}</span>
        </template>
      </a-table-column>
      <a-table-column key="state" title="State" data-index="closed">
        <template slot-scope="text">
          <span v-if="text">Closed</span>
          <span v-if="!text">Open</span>
        </template>
      </a-table-column>
      <!--        <a-table-column key="review" title="Review" data-index="approval">-->
      <!--          <template slot-scope="text">-->
      <!--            <span v-if="text">Approved</span>-->
      <!--            <span v-else></span>-->
      <!--          </template>-->
      <!--        </a-table-column>-->
    </a-table>
  </div>
</template>

<script>
import MarkdownPreview from '../utils/MarkdownPreview'

export default {
  name: 'ContributionListCard',
  components: {
    MarkdownPreview
  },
  props: {
    contributions: {
      type: Array,
      default: () => []
    },
    title: {
      type: String,
      default: ''
    }
  },
  computed: {
    group() {
      return this.$route.params?.group
    },
    project() {
      return this.$route.params?.name
    },
    getHomeUrl() {
      return `/gitlab/${this.group}/${this.project}`
    }
  },
  methods: {
    getContributionUrl(c) {
      return this.getHomeUrl + '/contributions/' + c.iid
    },
    truncateString(str, maxLength) {
      let trimmedString = str.substr(0, maxLength)

      if (str.length > trimmedString.length) {
        trimmedString = str.substr(0, maxLength)
        trimmedString =
          trimmedString.substr(
            0,
            Math.min(trimmedString.length, trimmedString.lastIndexOf(' '))
          ) + '...'
      }
      return trimmedString
    }
  }
}
</script>

<style scoped></style>
