<template>
  <div>
    <a-button @click="showDrawer" class="contributionButton">
      <a-icon :type="buttonStyle" />
      {{ buttonText }}
    </a-button>
    <a-drawer
      :title="titleText"
      :width="900"
      :visible="visible"
      :wrap-style="{
        height: 'calc(100% - 108px)',
        overflow: 'auto',
        paddingBottom: '108px'
      }"
      @close="onClose"
    >
      <a-form :form="form" layout="vertical" hide-required-mark>
        <a-row :gutter="16">
          <a-col :span="12">
            <a-form-item label="Title">
              <a-input v-model="title" placeholder="title" />
            </a-form-item>
          </a-col>
        </a-row>
        <a-row :gutter="16">
          <a-col :span="12">
            <a-form-item label="Task">
              <a-select
                v-model="taskId"
                :filter-option="taskFilterOption"
                :disabled="topLevel || isEdit"
                @change="handleTaskChange"
                show-search
                placeholder="search tasks"
                option-filter-prop="children"
              >
                <a-select-option key="undefined" :value="undefined">
                  {{ '-' }}
                </a-select-option>
                <a-select-option
                  v-for="(task, i) in getTaskList"
                  :key="i"
                  :value="task.task.id"
                >
                  {{ task.task.iid }} -
                  {{ truncateString(task.task.title, 32) }}
                </a-select-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item label="Contribution branch">
              <a-select
                v-model="branchName"
                :filter-option="branchNameFilterOption"
                :disabled="selectBranchDisabled"
                show-search
                placeholder="search branches"
                option-filter-prop="children"
              >
                <a-select-option key="undefined" :value="undefined">
                  {{ '-' }}
                </a-select-option>
                <a-select-option
                  v-for="(gitRepoBranch, i) in getGitRepoBranches"
                  :key="i"
                  :value="gitRepoBranch.name"
                  :disabled="
                    branchDisabled(
                      gitRepoBranch.task_iid,
                      gitRepoBranch.contribution_iid
                    )
                  "
                >
                  {{ gitRepoBranch.name }}
                </a-select-option>
              </a-select>
            </a-form-item>
          </a-col>
        </a-row>
        <br />
        <a-row :gutter="16">
          <a-col :span="12">
            <a-tooltip>
              <template slot="title">
                <span
                  >Checking 'Auto-update with new commits' will automatically
                  update the commit to reflect the latest branch changes as they
                  are pushed.</span
                >
              </template>
              <a-checkbox
                :checked="autoUpdateWithCommits"
                @change="(e) => (autoUpdateWithCommits = e.target.checked)"
                >Auto-update with new commits</a-checkbox
              >
            </a-tooltip>
          </a-col>
          <a-col :span="12">
            <a-form-item label="Contribution Value">
              <ManaInput
                :disabled="!isNew && !isFromBranch"
                v-model="manaUsed"
                :current-mana="getSubspaceUser.mana"
              />
            </a-form-item>
          </a-col>
        </a-row>
        <br />
        <br />
        <a-row :gutter="16">
          <a-col :span="24">
            <a-form-item label="Description">
              <vue-simplemde
                ref="markdownEditor"
                v-model="description"
                preview-class="markdown-body"
              />
            </a-form-item>
          </a-col>
        </a-row>
      </a-form>
      <div class="buttonContainer">
        <div>
          <a-button :style="{ marginRight: '8px' }" @click="onClose">
            Cancel
          </a-button>
          <a-button v-if="!isEdit" @click="onSubmit" type="primary">
            Submit
          </a-button>
          <a-button v-else @click="onUpdate" type="primary">Update</a-button>
        </div>
        <div>
          <a-button v-if="isEdit" @click="onRemoveContribution" type="danger"
            >Delete Contribution</a-button
          >
        </div>
      </div>
    </a-drawer>
  </div>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'
import ManaInput from '../utils/ManaInput'

export default {
  name: 'EditTaskDrawer',
  components: {
    ManaInput
  },
  props: {
    isNew: {
      type: Boolean,
      default: false
    },
    isEdit: {
      type: Boolean,
      default: false
    },
    isFromBranch: {
      type: Boolean,
      default: false
    },
    inputBranch: {
      type: String,
      default: undefined
    },
    contribution: {
      type: Object,
      default: undefined
    }
  },
  data() {
    return {
      form: this.$form.createForm(this),
      visible: false,
      taskFilterOption: '',
      branchNameFilterOption: '',
      ownerFilterOption: '',
      description: '',
      title: '',
      taskId: undefined,
      autoUpdateWithCommits: true,
      ongoing: false,
      topLevel: false,
      selectBranchDisabled: false,
      branchName: undefined,
      manaUsed: 1,
      defaultSelectedParent: false,
      id: 0,
      iid: 0,
      branch: '',
      commit: '',
      closed: false
    }
  },
  computed: {
    ...mapGetters({
      getCurrentProjectId: 'projects/getCurrentProjectId',
      getGitRepoBranchesObject: 'gitRepoBranches/getGitRepoBranches',
      getProjectUsers: 'projectUsers/getProjectUsers',
      getTaskList: 'tasks/getTaskList',
      getGitUser: 'user/getGitUser',
      getSubspaceUser: 'user/getSubspaceUser'
    }),
    getGitRepoBranches() {
      if (this.branchNameFilterOption === '') {
        return this.getGitRepoBranchesObject?.branches
      } else {
        return this.getGitRepoBranchesObject.branches.filter(
          (branch) =>
            branch?.name && branch.name.includes(this.branchNameFilterOption)
        )
      }
    },
    buttonText() {
      if (this.isNew) {
        return 'Submit contribution'
      } else if (this.isEdit) {
        return 'Edit contribution'
      } else if (this.isFromBranch) {
        return 'Submit as contribution'
      } else {
        return ''
      }
    },
    buttonStyle() {
      if (this.isNew) {
        return 'plus-circle'
      } else if (this.isEdit) {
        return 'edit'
      } else if (this.isFromBranch) {
        return 'plus-circle'
      } else {
        return ''
      }
    },
    titleText() {
      if (this.isNew) {
        return 'Submit a contribution'
      } else if (this.isEdit) {
        return 'Edit contribution'
      } else if (this.isFromBranch) {
        return 'Submit contribution from branch'
      } else {
        return ''
      }
    }
  },
  watch: {
    getCurrentProjectId: {
      handler(newValue) {
        if (newValue !== undefined) {
          this.fetchGitRepoBranches(this.getCurrentProjectId)
          this.fetchTaskList(this.getCurrentProjectId)
          this.fetchProjectUsers(this.getCurrentProjectId)
        }
      }
    }
  },
  mounted() {
    this.fetchGitRepoBranches(this.getCurrentProjectId)
    this.fetchTaskList(this.getCurrentProjectId)
    this.fetchProjectUsers(this.getCurrentProjectId)

    if (this.inputBranch !== undefined) {
      this.branchName = this.inputBranch
      this.title = this.inputBranch
      this.selectBranchDisabled = true
    }

    window.addEventListener('keydown', (e) => {
      if (e.key === 'Escape') {
        this.onClose()
      }
    })

    this.setParamsFromContribution(this.contribution)
  },
  methods: {
    ...mapActions({
      fetchTaskList: 'tasks/fetchTaskList',
      fetchGitRepoBranches: 'gitRepoBranches/fetchGitRepoBranches',
      fetchProjectUsers: 'projectUsers/fetchProjectUsers',
      submitNewContribution: 'contributions/submitNewContribution',
      submitEditContribution: 'contributions/submitEditContribution',
      fetchContributionDetails: 'contributions/fetchContributionDetails',
      submitRemoveContribution: 'contributions/submitRemoveContribution',
      fetchContributionList: 'contributions/fetchContributionList'
    }),
    showDrawer() {
      this.visible = true
    },
    onClose() {
      this.visible = false
    },
    onSubmit() {
      this.submitNewContribution({
        projectId: this.getCurrentProjectId,
        taskId: this.taskId,
        userId: this.getSubspaceUser.id,
        branch: this.branchName,
        commit: this.commit,
        userRep: this.getSubspaceUser.reputation,
        manaUsed: this.manaUsed,
        title: this.title,
        description: JSON.stringify(this.description),
        autoUpdateWithCommits: this.autoUpdateWithCommits
      }).then(() => {
        this.fetchContributionList(this.getCurrentProjectId)
        this.fetchGitRepoBranches(this.getCurrentProjectId)
      })
      this.visible = false
      Object.assign(this.$data, this.$options.data.apply(this))
    },
    onUpdate() {
      this.submitEditContribution({
        id: this.id,
        iid: this.iid,
        projectId: this.getCurrentProjectId,
        taskId: this.taskId,
        userId: this.getSubspaceUser.id,
        branch: this.branchName,
        commit: this.commit,
        userRep: this.userRep,
        manaUsed: this.manaUsed,
        closed: this.closed,
        title: this.title,
        description: JSON.stringify(this.description),
        autoUpdateWithCommits: this.autoUpdateWithCommits
      })
        .then(this.fetchGitRepoBranches(this.getCurrentProjectId))
        .then(() => {
          this.fetchContributionDetails({
            projectId: this.getCurrentProjectId,
            contributionIid: this.iid
          })
        })
      this.visible = false
    },
    handleTaskChange(taskId) {
      if (taskId) {
        this.taskId = taskId
      }
    },
    truncateString(str, num) {
      if (str === undefined) {
        return ''
      }
      if (str.length <= num) {
        return str
      }
      return str.slice(0, num) + '...'
    },
    setParamsFromContribution(contribution) {
      if (contribution) {
        this.id = contribution.id
        this.iid = contribution.iid

        this.taskId = contribution.taskId
        if (contribution.branch) {
          this.branchName = contribution.branch
        }
        this.commit = contribution.commit
        this.closed = contribution.closed

        this.userRep = contribution.userRep
        this.manaUsed = contribution.manaUsed

        this.title = contribution.title
        if (contribution.description) {
          this.description = JSON.parse(contribution.description)
        }

        this.autoUpdateWithCommits = contribution.autoUpdateWithCommits
      }
    },
    branchDisabled(taskIid, contributionIid) {
      return !!(taskIid || contributionIid)
    },
    onRemoveContribution() {
      return this.submitRemoveContribution(this.id).then(() =>
        this.$router.push({ path: './' })
      )
    }
  }
}
</script>

<style scoped>
.contributionButton {
  margin: 5px;
}
.buttonContainer {
  display: flex;
  justify-content: space-between;
}
</style>
