<template>
  <div class="root-container">
    <NavBar />
    <div class="page-container">
      <div class="content-container">
        <nuxt />
        <Footer />
      </div>
    </div>
  </div>
</template>
<script>
import NavBar from '~/components/dashboard/NavBar'
import Footer from '~/components/dashboard/Footer'

export default {
  components: {
    NavBar,
    Footer
  },
  data() {
    return {}
  },
  methods: {}
}
</script>

<style scoped>
.root-container {
}
.page-container {
  display: flex;
}
.content-container {
  width: 100%;

  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 50px;
}
</style>
