<template>
  <div class="root-container">
    <NavBar />
    <div class="page-container">
      <ProjectSideBar class="sidebar-container" />
      <div class="content-container">
        <nuxt />
        <Footer />
      </div>
    </div>
  </div>
</template>
<script>
import NavBar from '~/components/dashboard/NavBar'
import ProjectSideBar from '~/components/dashboard/ProjectSideBar'
import Footer from '~/components/dashboard/Footer'

export default {
  components: {
    NavBar,
    ProjectSideBar,
    Footer
  },
  data() {
    return {}
  },
  methods: {}
}
</script>

<style scoped>
.root-container {
}
.page-container {
  display: flex;
}
.sidebar-container {
  margin-right: 200px;
}
.content-container {
  width: 100%;
  padding-top: 50px;

  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 50px;
}
</style>
