<template>
  <div>
    account/callback/stackoverflow
  </div>
</template>

<script>
export default {
  created() {
    return this.$router.push('/account')
  },
  head() {
    return {
      title: 'Subspace'
    }
  }
}
</script>

<style scoped></style>
