<template>
  <div class="login-page">
    <div>
      <img src="~/assets/subspace.svg" width="400px" />
    </div>
    <login class="login" />
  </div>
</template>

<script>
import Login from '~/components/auth/Login'

export default {
  components: {
    Login
  },
  head() {
    return {
      title: 'Subspace'
    }
  }
}
</script>
<style>
.login-page {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 75vh;
}
.login {
  padding-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
