<template>
  <div>
    <a-alert
      message="Note: When first onboarding a project to Subspace, you may want to peg some of your existing branches to the task tree."
      type="success"
      class="note"
    />
    <span class="button-container">
      <a-input-search
        v-model="searchCriteria"
        placeholder="branch name"
        style="width: 200px;"
      />
      <!--      <a-button class="row-button"-->
      <!--        ><a-icon type="plus-circle" /> Submit contribution from fork-->
      <!--        (open-source only)-->
      <!--      </a-button>-->
    </span>
    <div class="list-container">
      <div
        v-if="gitRepoBranches"
        v-for="(gitRepoBranch, i) in gitRepoBranches"
        :key="i"
      >
        <a-list-item class="list-item">
          <a-list-item-meta :description="gitRepoBranch.commit">
            <a
              slot="title"
              :href="getBranchUrl(gitRepoBranch.name)"
              target="_blank"
            >
              {{ gitRepoBranch.name }}
            </a>
          </a-list-item-meta>
          <a-tag v-show="gitRepoBranch.task_iid" color="blue" class="row-tag">
            <router-link :to="getTaskUrl({ taskId: gitRepoBranch.task_iid })"
              >Task #{{ gitRepoBranch.task_iid }}</router-link
            >
          </a-tag>
          <a-tag
            v-show="gitRepoBranch.contribution_iid"
            color="purple"
            class="row-tag"
          >
            <router-link
              :to="
                getContributionUrl({
                  contributionId: gitRepoBranch.contribution_iid
                })
              "
              >Contribution #{{ gitRepoBranch.contribution_iid }}</router-link
            >
          </a-tag>
          <EditTaskDrawer
            v-show="
              !gitRepoBranch.task_iid &&
                !gitRepoBranch.contribution_iid &&
                $auth.loggedIn
            "
            :is-add-branch="true"
            :input-branch="gitRepoBranch.name"
          />
          <!--          <a-button v-show="!gitRepoBranch.task_iid" class="row-button">-->
          <!--            <a-icon type="plus-circle" /> Submit as contribution-->
          <!--          </a-button>-->
          <EditContributionDrawer
            v-show="
              !gitRepoBranch.task_iid &&
                !gitRepoBranch.contribution_iid &&
                $auth.loggedIn
            "
            :is-from-branch="true"
            :input-branch="gitRepoBranch.name"
          />
        </a-list-item>
      </div>
    </div>
  </div>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'
import EditTaskDrawer from '../task/EditTaskDrawer'
import EditContributionDrawer from '../contribution/EditContributionDrawer'

export default {
  name: 'BranchesCard',
  components: {
    EditTaskDrawer,
    EditContributionDrawer
  },
  data() {
    return {
      searchCriteria: '',
      gitRepoBranches: undefined
    }
  },
  computed: {
    ...mapGetters({
      getGitRepoBranchesObject: 'gitRepoBranches/getGitRepoBranches',
      getCurrentProjectId: 'projects/getCurrentProjectId',
      getCurrentProjectHomeUrl: 'projects/getCurrentProjectHomeUrl'
    }),
    group() {
      return this.$route.params?.group
    },
    project() {
      return this.$route.params?.name
    },
    getHomeUrl() {
      return `/gitlab/${this.group}/${this.project}`
    }
  },
  watch: {
    getCurrentProjectId: {
      handler(newValue) {
        if (newValue !== undefined) {
          this.fetchGitRepoBranches(this.getCurrentProjectId).then(() => {
            this.assignGitRepoBranches()
          })
        }
      }
    },
    getGitRepoBranchesObject: {
      deep: true,
      handler(newValue) {
        if (newValue !== undefined) {
          this.assignGitRepoBranches()
        }
      }
    }
  },
  mounted() {
    this.fetchGitRepoBranches(this.getCurrentProjectId).then(() => {
      this.assignGitRepoBranches()
    })
  },
  methods: {
    ...mapActions({
      fetchGitRepoBranches: 'gitRepoBranches/fetchGitRepoBranches'
    }),
    getTaskUrl(taskIdObj) {
      return this.getHomeUrl + '/tasks/' + taskIdObj.taskId
    },
    getContributionUrl(contributionIdObj) {
      return (
        this.getHomeUrl + '/contributions/' + contributionIdObj.contributionId
      )
    },
    getBranchUrl(branchName) {
      return this.getCurrentProjectHomeUrl + '/tree/' + branchName
    },
    onChange(value) {
      this.searchCriteria = value
    },
    assignGitRepoBranches() {
      if (this.searchCriteria === '') {
        this.gitRepoBranches = this.getGitRepoBranchesObject?.branches
      } else {
        this.gitRepoBranches = this.getGitRepoBranchesObject.branches.filter(
          (branch) => branch?.name && branch.name.includes(this.searchCriteria)
        )
      }
    }
  }
}
</script>
<style scoped>
.note {
  margin: 20px;
}
.list-container {
  margin-left: 20px;
  margin-right: 20px;
  border-top: 1px solid #e8e8e8;
}
.list-item {
  border-bottom: 1px solid #e8e8e8;
}
.row-tag {
  font-size: 14px;
  height: 32px;
  padding: 5px 15px 5px 15px;
  /*cursor: default;*/
  /*pointer-events: none;*/
}
.row-button {
  margin: 5px 10px 5px 10px;
}
.button-container {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}
</style>
