<template>
  <a-card size="small" class="contribution-card">
    <template slot="title">
      <div style="display: flex; justify-content: space-between;">
        <router-link
          :to="getUrl(project.project.namespace, project.project.name)"
        >
          <span>{{ project.project.name || '' }}</span>
        </router-link>
        <div>
          <a
            :href="project.gitRepo.webUrl"
            target="_blank"
            style="margin-right: 25px"
          >
            Git Repo
          </a>
          <a-button
            v-if="$auth.loggedIn"
            @click="handleJoinPublicProject(project.project.id)"
            :disabled="project.gitRepo.joined"
            size="small"
            style="margin-right: 25px"
          >
            {{ project.gitRepo.joined ? 'Joined' : 'Join' }}
          </a-button>
          {{ project.num_users || 0 }} members
        </div>
      </div>
    </template>
    {{ project.gitRepo.description }}
  </a-card>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'BrowseCard',
  props: {
    project: {
      type: Object,
      default: undefined
    },
    limit: {
      type: Number,
      default: 10
    },
    offset: {
      type: Number,
      default: 0
    }
  },
  methods: {
    ...mapActions({
      joinPublicProject: 'projects/joinPublicProject',
      fetchPublicProjects: 'projects/fetchPublicProjects',
      fetchProjects: 'projects/fetchProjects'
    }),
    handleJoinPublicProject(projectId) {
      return this.joinPublicProject({ projectId })
        .then(() =>
          this.fetchPublicProjects({ limit: this.limit, offset: this.offset })
        )
        .then(() => this.fetchProjects())
    },
    getUrl(namespace, name) {
      return `/gitlab/${namespace}/${name}`
    }
  }
}
</script>

<style scoped>
.contribution-card {
  margin: 8px;
}
</style>
