<template>
  <div style="margin-left: 20px">
    <a
      :href="getCurrentProject.web_url"
      target="_blank"
      style="margin-right: 25px"
    >
      <b>Git Repo</b>
    </a>
    <br />
    <br />
    Project [{{ project }}] home page. This page will soon contain recent
    project activity and project metrics.
    <br />
    <br />
    <br />
    <br />
    <div v-if="getCurrentProjectId && readme">
      <h3>ReadMe</h3>
      <div style="margin-right: 20px">
        <MarkdownPreview :content="readme" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import MarkdownPreview from '../utils/MarkdownPreview'

export default {
  name: 'ProjectCard',
  components: { MarkdownPreview },
  props: {
    host: {
      type: String,
      default: ''
    },
    group: {
      type: String,
      default: ''
    },
    project: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      readme: ''
    }
  },
  computed: {
    ...mapGetters({
      getCurrentProject: 'projects/getCurrentProject',
      getCurrentProjectId: 'projects/getCurrentProjectId',
      getReadMe: 'readme/getReadMe'
    })
  },
  watch: {
    getCurrentProjectId: {
      handler(newValue) {
        if (newValue !== undefined) {
          this.fetchReadMe({
            projectId: newValue
          }).then(() => {
            this.readme = this.decode(this.getReadMe(this.getCurrentProjectId))
          })
        }
      }
    }
  },
  mounted() {
    if (this.getCurrentProjectId) {
      this.fetchReadMe({
        projectId: this.getCurrentProjectId
      }).then(() => {
        this.readme = this.decode(this.getReadMe(this.getCurrentProjectId))
      })
    }
  },
  methods: {
    ...mapActions({
      fetchReadMe: 'readme/fetchReadMe'
    }),
    decode(content) {
      const binaryData = Buffer.from(content, 'base64')
      return binaryData.toString('utf8')
    }
  }
}
</script>

<style scoped></style>
