<template>
  <div>
    <a-divider v-if="getCurrentTask" orientation="left">
      Task #{{ taskIid }}
    </a-divider>
    <StatusBar v-if="getCurrentTask" :task="getCurrentTask" />
    <TaskCard :in-contribution="false" :iid="taskIid" />
    <a-card
      v-if="taskContributions"
      title="Task Contributions"
      size="small"
      class="taskCard"
    >
      <ContributionListCard
        v-if="taskContributions"
        :contributions="taskContributions"
      />
    </a-card>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import TaskCard from '../../../../../components/task/TaskCard'
import StatusBar from '../../../../../components/task/TaskStatusBar'
import ContributionListCard from '../../../../../components/contribution/ContributionListCard'

export default {
  auth: false,
  name: 'Task',
  layout: 'project',
  components: {
    TaskCard,
    StatusBar,
    ContributionListCard
  },
  computed: {
    ...mapGetters({
      getCurrentTask: 'tasks/getCurrentTask',
      getCurrentProjectId: 'projects/getCurrentProjectId',
      getContributionList: 'contributions/getContributionList',
      getSubspaceUser: 'user/getSubspaceUser'
    }),
    taskIid() {
      return parseInt(this.$route.params?.task)
    },
    taskContributions() {
      return this.getContributionList.filter(
        (c) => c.taskId === this.getCurrentTask?.task?.id
      )
    }
  },
  watch: {
    getCurrentProjectId: {
      handler(newValue) {
        if (newValue !== undefined) {
          this.fetchContributionList(this.getCurrentProjectId)
        }
      }
    },
    getContributionList: {
      deep: true,
      handler(newValue) {}
    }
  },
  mounted() {
    this.fetchContributionList(this.getCurrentProjectId)
  },
  methods: {
    ...mapActions({
      fetchContributionList: 'contributions/fetchContributionList'
    })
  }
}
</script>

<style scoped>
.taskCard {
  margin: 20px;
  height: 100%;
}
</style>
