<template>
  <div>
    <a-divider orientation="left">Tasks</a-divider>
    <TaskTable />
  </div>
</template>

<script>
import TaskTable from '../../../../../components/task/TaskTable'

export default {
  auth: false,
  name: 'Tasks',
  components: {
    TaskTable
  },
  layout: 'project',
  head() {
    return {
      title: 'Subspace'
    }
  }
}
</script>

<style scoped></style>
