<template>
  <div>
    <a-divider orientation="left">Branches</a-divider>
    <BranchTableCard />
  </div>
</template>

<script>
import BranchTableCard from '../../../../components/branch/BranchTableCard'

export default {
  auth: false,
  name: 'Branches',
  components: { BranchTableCard },
  layout: 'project',
  head() {
    return {
      title: 'Subspace'
    }
  }
}
</script>

<style scoped></style>
