<template>
  <div>
    <div v-if="getCurrentProject">
      <a-divider orientation="left">{{ name }}</a-divider>
      <ProjectCard :host="host" :group="group" :project="name" />
    </div>
    <div v-else>
      Project [{{ name }}] with host [{{ host.toLowerCase() }}] and group [{{
        group
      }}] was not found.
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex'
import ProjectCard from '~/components/project/ProjectCard'

export default {
  auth: false,
  name: 'Project',
  layout: 'project',
  components: {
    ProjectCard
  },
  computed: {
    ...mapGetters({
      getProjects: 'projects/getProjects',
      getCurrentProject: 'projects/getCurrentProject'
    }),
    hostFormatted() {
      const hostParam = (this.$route.params?.host || '').toLowerCase()

      if (hostParam === 'gl' || hostParam === 'gitlab') {
        return 'GitLab'
      } else if (hostParam === 'gh' || hostParam === 'github') {
        return 'GitHub'
      } else if (hostParam === 'bb' || hostParam === 'bitbucket') {
        return 'BitBucket'
      } else {
        return ''
      }
    },
    host() {
      return this.hostFormatted.toUpperCase()
    },
    group() {
      return this.$route.params.group
    },
    name() {
      return this.$route.params.name
    }
  },
  // mounted() {
  //   this.updateCurrentProjectParams({
  //     host: this.host(),
  //     group: this.group(),
  //     name: this.name()
  //   })
  //   this.updateCurrentProjectFromParams()
  //   if (!this.getCurrentProject) {
  //     this.fetchPublicProject({
  //       host: this.host(),
  //       namespace: this.group(),
  //       name: this.name()
  //     }).then(() => {
  //       this.updateCurrentProjectFromParams()
  //     })
  //   }
  // },
  methods: {
    ...mapActions({
      fetchPublicProject: 'projects/fetchPublicProject'
    }),
    ...mapMutations({
      updateCurrentProjectParams: 'projects/updateCurrentProjectParams',
      updateCurrentProjectFromParams: 'projects/updateCurrentProjectFromParams'
    })
  }
}
</script>

<style scoped></style>
