<template>
  <div>
    <!--    <div style="margin-bottom: 100px">-->
    <!--      <a-divider orientation="left">Join Requests</a-divider>-->
    <!--      <UserJoinRequestTable />-->
    <!--    </div>-->
    <div>
      <a-divider orientation="left">Members</a-divider>
      <ProjectUsersTable />
    </div>
  </div>
</template>

<script>
import ProjectUsersTable from '../../../../components/user/ProjectUsersTable'
// import UserJoinRequestTable from '../../../../components/user/UserJoinRequestTable'

export default {
  auth: false,
  name: 'Members',
  components: {
    ProjectUsersTable
    // UserJoinRequestTable
  },
  layout: 'project',
  head() {
    return {
      title: 'Subspace'
    }
  }
}
</script>

<style scoped></style>
