<template>
  <div>
    <a-divider orientation="left">Settings</a-divider>
    <SettingsComponent style="margin: 20px" />
  </div>
</template>

<script>
import SettingsComponent from '../../../../components/settings/SettingsComponent'

export default {
  auth: false,
  name: 'Settings',
  components: {
    SettingsComponent
  },
  layout: 'project',
  head() {
    return {
      title: 'Subspace'
    }
  }
}
</script>

<style scoped></style>
