<template>
  <div />
</template>

<script>
import {
  GITLAB,
  getPostTokenUrl,
  getPostData,
  getPostConfig
} from '~/utils/auth'

export default {
  head() {
    return {
      title: 'Subspace'
    }
  },
  mounted() {
    if (this.$auth.getToken('gitlab')) {
      this.$axios
        .$post(getPostTokenUrl(), getPostData(), getPostConfig(GITLAB))
        .then(() => this.$router.push('/'))
    }
  }
}
</script>

<style scoped></style>
