<template>
  <div class="landing">
    <div>
      <a-button @click="loginGitlab" style="height: 100px">
        Enter with GitLab
        <div>
          <img src="~/assets/gitlab.png" width="50px" />
        </div>
      </a-button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Login',
  methods: {
    loginGitlab() {
      this.$auth.loginWith('gitlab')
    }
  }
}
</script>

<style scoped>
.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
</style>
