<template>
  <div>
    <a-textarea
      v-if="show()"
      v-model="value"
      type="text"
      :autosize="{ minRows: minRows }"
      @focus="focus()"
      @blur="blur()"
      @input="updateValue($event.target.value)"
    />
    <div v-else class="form-text-area" @click="focus()">
      {{ value }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'ClickToEdit',
  props: {
    placeHolder: {
      type: String,
      default: ''
    },
    minRows: {
      type: Number,
      default: 1
    },
    // eslint-disable-next-line vue/require-default-prop
    value: {
      type: String
    }
  },
  data() {
    return {
      edit: false
    }
  },
  methods: {
    focus() {
      this.edit = true
    },
    blur() {
      this.edit = false
    },
    show() {
      return this.edit === true
    },
    updateValue(value) {
      if (value !== '') {
        this.$emit('input', value)
      }
    }
  }
}
</script>

<style scoped>
.form-text-area {
  min-width: 50px;
  min-height: 15px;
}
</style>
