<template>
  <div>
    <a-slider
      :disabled="disabled"
      :min="1"
      :max="getMaxPoints(currentMana)"
      @change="updateManaUsed"
    />
    <span>Points: {{ points }}</span
    ><br />
    <span>Mana used: {{ manaUsed }} </span>
    <span v-if="!disabled"> / {{ currentMana }}</span>
  </div>
</template>

<script>
export default {
  name: 'ManaInput',
  props: {
    value: {
      type: Number,
      default: 1
    },
    currentMana: {
      type: Number,
      default: 1
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      points: 1
    }
  },
  computed: {
    manaUsed() {
      return this.points ** 2 * 0.5 + 0.5 * this.points
    }
  },
  mounted() {},
  methods: {
    updateManaUsed(v) {
      this.points = v
      this.$emit('input', this.manaUsed)
    },
    getManaUsed(points) {
      return points ** 2 * 0.5 + 0.5 * points
    },
    getMaxPoints(currentMana) {
      let points = 1
      while (this.getManaUsed(points + 1) <= currentMana) {
        points = points + 1
      }
      return points
    }
  }
}
</script>

<style scoped></style>
