<template>
  <vue-simplemde
    ref="markdownEditor"
    :value="content"
    :configs="configs"
    style="font-size: 14px; min-width: 400px"
  />
</template>

<script>
export default {
  name: 'MarkdownEditor',
  props: {
    content: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      configs: {
        toolbar: false
      }
    }
  },
  computed: {
    simplemde() {
      return this.$refs.markdownEditor.simplemde
    }
  },
  watch: {
    content: {
      handler(newValue) {
        this.simplemde.value(newValue)
        this.simplemde.codemirror.refresh()
        this.simplemde.togglePreview()
        this.simplemde.togglePreview()
      }
    }
  },
  mounted() {
    this.simplemde.togglePreview()
  }
}
</script>

<style>
.CodeMirror,
.CodeMirror-scroll {
  min-height: 200px;
}
</style>
