<template>
  <div>
    <a-divider orientation="left">About Subspace</a-divider>
  </div>
</template>

<script>
export default {
  auth: false,
  name: 'About',
  components: {},
  layout: 'dashboard',
  head() {
    return {
      title: 'Subspace'
    }
  }
}
</script>

<style scoped></style>
