<template>
  <div style="max-width: 900px; margin: auto; padding-top: 50px">
    <a-divider orientation="left">Browse Open-Development Projects</a-divider>
    <div
      v-if="getPublicProjects"
      v-for="(project, i) in getPublicProjects"
      :key="i"
    >
      <BrowseCard :project="project" />
    </div>
    <div class="pagination">
      <span style="margin-top: 25px">
        <a-pagination @change="onChange" :current="page" :total="total" />
      </span>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import BrowseCard from '../components/project/BrowseCard'

export default {
  auth: false,
  name: 'Browse',
  components: {
    BrowseCard
  },
  layout: 'dashboard',
  head() {
    return {
      title: 'Subspace'
    }
  },
  data() {
    return {
      page: 1,
      pageSize: 10,
      total: 20
    }
  },
  computed: {
    ...mapGetters({
      getPublicProjects: 'projects/getPublicProjects'
    })
  },
  mounted() {
    this.fetchPublicProjects({
      limit: this.pageSize,
      offset: (this.page - 1) * this.pageSize
    })
  },
  methods: {
    ...mapActions({
      fetchPublicProjects: 'projects/fetchPublicProjects'
    }),
    onChange(page) {
      this.fetchPublicProjects({
        limit: this.pageSize,
        offset: (page - 1) * this.pageSize
      })
      this.page = page
    }
  }
}
</script>

<style scoped>
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
