<template>
  <div class="start-page-container">
    <div class="intro-text">
      <img src="~/assets/start-page-art.png" class="start-page-art" />
      <a-card class="welcome-card">
        <h1>Welcome to Subspace</h1>
        <p>
          To get started, you can:
        </p>
        <ul>
          <li>
            <router-link to="/login">
              <b>Login with your GitLab account to join or onboard a project</b>
            </router-link>
          </li>
          <li>
            <a href="https://docs.subspace.net" target="_blank">
              <b>Check out the Documentation</b>
            </a>
          </li>
          <li>
            <router-link to="/browse">
              <b>Browse existing open-source projects</b>
            </router-link>
          </li>
        </ul>
      </a-card>
    </div>
  </div>
</template>

<script>
export default {
  auth: false,
  name: 'Index',
  components: {},
  layout: 'dashboard',
  head() {
    return {
      title: 'Subspace'
    }
  }
}
</script>

<style>
.welcome-card {
  margin: 20px;
}

.start-page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.intro-text {
  padding-top: 45px;
}

.start-page-art {
  position: absolute;
  height: 100vh;
  max-height: 1200px;
  max-width: 1500px;
  z-index: -1;
}
</style>
