<template>
  <div style="padding-top: 50px">
    <a-divider orientation="left">Onboarding</a-divider>
    <OnboardingCard />
  </div>
</template>

<script>
import OnboardingCard from '~/components/onboarding/OnboardingCard'

export default {
  name: 'Onboarding',
  components: {
    OnboardingCard
  },
  layout: 'dashboard',
  head() {
    return {
      title: 'Subspace'
    }
  }
}
</script>

<style scoped></style>
