<template>
  <div>
    <a-button @click="showDrawer" class="taskButton">
      <a-icon :type="buttonStyle" />
      {{ buttonText }}
    </a-button>
    <a-drawer
      :title="titleText"
      :width="900"
      :visible="visible"
      :wrap-style="{
        height: 'calc(100% - 108px)',
        overflow: 'auto',
        paddingBottom: '108px'
      }"
      @close="onClose"
    >
      <a-form :form="form" layout="vertical" hide-required-mark>
        <a-row :gutter="16">
          <a-col :span="12">
            <a-form-item label="Title">
              <a-input v-model="title" placeholder="title" />
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item label="Owner">
              <a-select
                v-model="ownerId"
                :filter-option="ownerFilterOption"
                show-search
                placeholder="search users"
                option-filter-prop="children"
              >
                <a-select-option key="undefined" :value="undefined">
                  {{ '-' }}
                </a-select-option>
                <a-select-option
                  v-for="(user, i) in getProjectUsers"
                  :key="i"
                  :value="user.id"
                >
                  {{ user.username }}
                </a-select-option>
              </a-select>
              <a @click="handleAssignToMe"> assign to me </a>
            </a-form-item>
          </a-col>
        </a-row>
        <br />
        <a-row :gutter="16">
          <a-col :span="12">
            <a-tooltip>
              <template slot="title">
                <span
                  >Top-level tasks are either top-level working branches (e.g.
                  master), or releases (e.g. v2.0.3)</span
                >
              </template>
              <a-checkbox
                :checked="topLevel"
                :disabled="isEdit"
                @change="handleTopLevelTaskChange"
                >Top-level task</a-checkbox
              >
            </a-tooltip>
          </a-col>
          <a-col :span="12">
            <a-tooltip>
              <template slot="title">
                <span
                  >Peg this task to an existing branch. Use caution when using
                  this in combination with 'auto-rebase', as it may cause
                  immediate code changes.</span
                >
              </template>
              <a-checkbox
                :disabled="selectBranchDisabled || isEdit"
                :checked="existingBranch"
                @change="handleExistingBranchCheckboxChange"
                >Use existing branch</a-checkbox
              >
            </a-tooltip>
          </a-col>
        </a-row>
        <br />
        <a-row :gutter="16">
          <a-col :span="12">
            <a-form-item label="Parent task">
              <a-select
                v-model="parentTaskId"
                :filter-option="parentTaskFilterOption"
                :disabled="topLevel || isEdit"
                show-search
                placeholder="search tasks"
                option-filter-prop="children"
              >
                <a-select-option key="undefined" :value="undefined">
                  {{ '-' }}
                </a-select-option>
                <a-select-option
                  v-for="(myTask, i) in getTaskList"
                  :key="i"
                  :value="myTask.task.id"
                >
                  {{ myTask.task.iid }} -
                  {{ truncateString(myTask.task.title, 32) }}
                </a-select-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item label="Existing branch">
              <a-select
                v-model="existingBranchName"
                :filter-option="existingBranchNameFilterOption"
                :disabled="!existingBranch || selectBranchDisabled"
                @change="handleExistingBranchChange"
                show-search
                placeholder="search branches"
                option-filter-prop="children"
              >
                <a-select-option key="undefined" :value="undefined">
                  {{ '-' }}
                </a-select-option>
                <a-select-option
                  v-for="(gitRepoBranch, i) in getGitRepoBranches"
                  :key="i"
                  :value="gitRepoBranch.name"
                  :disabled="
                    branchDisabled(
                      gitRepoBranch.task_iid,
                      gitRepoBranch.contribution_iid
                    )
                  "
                >
                  {{ gitRepoBranch.name }}
                </a-select-option>
              </a-select>
            </a-form-item>
          </a-col>
        </a-row>
        <br />
        <div class="f_sb">
          <a-tooltip>
            <template slot="title">
              <span>
                Automatically push any contributions merged into this task
                branch up to the parent task.
              </span>
            </template>
            <a-checkbox
              :checked="autoMergeUp"
              @change="(e) => (autoMergeUp = e.target.checked)"
            >
              Auto merge up
            </a-checkbox>
          </a-tooltip>

          <a-tooltip>
            <template slot="title">
              <span
                >Automatically rebase child branches when changes are merged
                into this task branch.</span
              >
            </template>
            <a-checkbox
              :checked="autoRebase"
              @change="(e) => (autoRebase = e.target.checked)"
              >Auto rebase</a-checkbox
            >
          </a-tooltip>

          <!--          <a-tooltip>-->
          <!--            <template slot="title">-->
          <!--              <span-->
          <!--                >Keep this task open permanently, even after it has been-->
          <!--                approved and merged into the parent task branch.</span-->
          <!--              >-->
          <!--            </template>-->
          <!--            <a-checkbox-->
          <!--              :checked="ongoing"-->
          <!--              @change="(e) => (ongoing = e.target.checked)"-->
          <!--              >Ongoing task</a-checkbox-->
          <!--            >-->
          <!--          </a-tooltip>-->

          <!--          <a-tooltip>-->
          <!--            <template slot="title">-->
          <!--              <span-->
          <!--                >This task will be selected by default as the parent task when-->
          <!--                creating new tasks (can be changed at any time). Typically 'dev'-->
          <!--                or 'develop'.</span-->
          <!--              >-->
          <!--            </template>-->
          <!--            <a-checkbox-->
          <!--              :checked="defaultSelectedParent"-->
          <!--              @change="(e) => (defaultSelectedParent = e.target.checked)"-->
          <!--              >Default parent task</a-checkbox-->
          <!--            >-->
          <!--          </a-tooltip>-->

          <!--          <a-tooltip>-->
          <!--            <template slot="title">-->
          <!--              <span>-->
          <!--                Checking this box will prevent contributions directly to this-->
          <!--                task. Contributions will only be allowed to child tasks.-->
          <!--              </span>-->
          <!--            </template>-->
          <!--            <a-checkbox-->
          <!--              :checked="noDirectContributions"-->
          <!--              @change="(e) => (noDirectContributions = e.target.checked)"-->
          <!--            >-->
          <!--              No direct contributions-->
          <!--            </a-checkbox>-->
          <!--          </a-tooltip>-->

          <!--          <a-tooltip>-->
          <!--            <template slot="title">-->
          <!--              <span>-->
          <!--                Require that the task owner give a final approval after-->
          <!--                community approval for contributions to be merged into this task-->
          <!--                (not encouraged).-->
          <!--              </span>-->
          <!--            </template>-->
          <!--            <a-checkbox-->
          <!--              :checked="requireOwnerApproval"-->
          <!--              @change="(e) => (requireOwnerApproval = e.target.checked)"-->
          <!--            >-->
          <!--              Require owner final approval-->
          <!--            </a-checkbox>-->
          <!--          </a-tooltip>-->
        </div>
        <br />
        <br />
        <a-row :gutter="16">
          <a-col :span="24">
            <a-form-item label="Description">
              <vue-simplemde
                ref="markdownEditor"
                v-model="description"
                preview-class="markdown-body"
              />
            </a-form-item>
          </a-col>
        </a-row>
      </a-form>
      <div class="button-container">
        <a-row :gutter="16">
          <a-col :span="7">
            <a-button :style="{ marginRight: '8px' }" @click="onClose">
              Cancel
            </a-button>
            <a-button v-if="!isEdit" @click="onSubmit" type="primary"
              >Submit</a-button
            >
            <a-button v-else @click="onUpdate" type="primary">Update</a-button>
          </a-col>
          <a-col :span="14" />
          <a-col :span="2">
            <a-button v-if="isEdit" @click="onRemoveTask" type="danger">
              Delete Task
            </a-button>
          </a-col>
        </a-row>
      </div>
    </a-drawer>
  </div>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'EditTaskDrawer',
  props: {
    isNew: {
      type: Boolean,
      default: false
    },
    isRelease: {
      type: Boolean,
      default: false
    },
    isEdit: {
      type: Boolean,
      default: false
    },
    isAddBranch: {
      type: Boolean,
      default: false
    },
    inputBranch: {
      type: String,
      default: undefined
    },
    taskObject: {
      type: Object,
      default: undefined
    }
  },
  data() {
    return {
      form: this.$form.createForm(this),
      visible: false,
      parentTaskFilterOption: '',
      existingBranchNameFilterOption: '',
      ownerFilterOption: '',
      description: '',
      title: '',
      parentTaskId: undefined,
      ownerId: undefined,
      autoRebase: true,
      ongoing: false,
      noDirectContributions: false,
      autoMergeUp: true,
      requireOwnerApproval: false,
      topLevel: false,
      selectBranchDisabled: false,
      existingBranch: false,
      existingBranchName: undefined,
      defaultSelectedParent: false,
      closed: false,
      id: 0,
      iid: 0
    }
  },
  computed: {
    ...mapGetters({
      getCurrentProjectId: 'projects/getCurrentProjectId',
      getGitRepoBranchesObject: 'gitRepoBranches/getGitRepoBranches',
      getProjectUsers: 'projectUsers/getProjectUsers',
      getTaskList: 'tasks/getTaskList',
      getGitUser: 'user/getGitUser',
      getSubspaceUser: 'user/getSubspaceUser',
      getCurrentTask: 'tasks/getCurrentTask'
    }),
    task() {
      return this.taskObject?.task
    },
    getGitRepoBranches() {
      if (this.existingBranchNameFilterOption === '') {
        return this.getGitRepoBranchesObject?.branches
      } else {
        return this.getGitRepoBranchesObject.branches.filter(
          (branch) =>
            branch?.name &&
            branch.name.includes(this.existingBranchNameFilterOption)
        )
      }
    },
    buttonText() {
      if (this.isNew) {
        return 'Create task'
      } else if (this.isEdit) {
        return 'Edit task'
      } else if (this.isAddBranch) {
        return 'Add to task tree'
      } else {
        return ''
      }
    },
    buttonStyle() {
      if (this.isNew) {
        return 'plus-circle'
      } else if (this.isEdit) {
        return 'edit'
      } else if (this.isAddBranch) {
        return 'plus-circle'
      } else {
        return ''
      }
    },
    titleText() {
      if (this.isNew) {
        return 'Create a task'
      } else if (this.isEdit) {
        return 'Edit task'
      } else if (this.isAddBranch) {
        return 'Add branch to task tree'
      } else {
        return ''
      }
    }
  },
  watch: {
    getCurrentProjectId: {
      handler(newValue) {
        if (newValue !== undefined) {
          this.fetchGitRepoBranches(this.getCurrentProjectId)
          this.fetchTaskList(this.getCurrentProjectId)
          this.fetchProjectUsers(this.getCurrentProjectId)
        }
      }
    }
  },
  mounted() {
    this.fetchGitRepoBranches(this.getCurrentProjectId)
    this.fetchTaskList(this.getCurrentProjectId)
    this.fetchProjectUsers(this.getCurrentProjectId)

    if (this.inputBranch !== undefined) {
      this.existingBranch = true
      this.existingBranchName = this.inputBranch
      this.title = this.inputBranch
      this.selectBranchDisabled = true
    }

    window.addEventListener('keydown', (e) => {
      if (e.key === 'Escape') {
        this.onClose()
      }
    })

    this.setParamsFromTask(this.task)
  },
  methods: {
    ...mapActions({
      submitNewTask: 'tasks/submitNewTask',
      submitEditTask: 'tasks/submitEditTask',
      fetchTaskList: 'tasks/fetchTaskList',
      fetchGitRepoBranches: 'gitRepoBranches/fetchGitRepoBranches',
      fetchProjectUsers: 'projectUsers/fetchProjectUsers',
      fetchTaskDetails: 'tasks/fetchTaskDetails',
      submitRemoveTask: 'tasks/submitRemoveTask'
    }),
    showDrawer() {
      this.visible = true
    },
    onClose() {
      this.visible = false
    },
    onSubmit() {
      this.submitNewTask({
        projectId: this.getCurrentProjectId,
        ownerId: this.ownerId,
        title: this.title,
        description: JSON.stringify(this.description),
        autoRebase: this.autoRebase,
        ongoing: this.ongoing,
        noDirectContributions: this.noDirectContributions,
        autoMergeUp: this.autoMergeUp,
        requireOwnerApproval: this.requireOwnerApproval,
        branch: this.existingBranchName,
        parentId: this.parentTaskId
      }).then(this.fetchGitRepoBranches(this.getCurrentProjectId))
      this.visible = false
      Object.assign(this.$data, this.$options.data.apply(this))
    },
    onUpdate() {
      this.submitEditTask({
        projectId: this.getCurrentProjectId,
        ownerId: this.ownerId,
        title: this.title,
        description: JSON.stringify(this.description),
        autoRebase: this.autoRebase,
        ongoing: this.ongoing,
        noDirectContributions: this.noDirectContributions,
        autoMergeUp: this.autoMergeUp,
        requireOwnerApproval: this.requireOwnerApproval,
        branch: this.existingBranchName,
        parentId: this.parentTaskId,
        closed: this.closed,
        id: this.id,
        iid: this.iid
      })
        .then(() => this.fetchGitRepoBranches(this.getCurrentProjectId))
        .then(() => {
          this.fetchTaskDetails({
            projectId: this.getCurrentProjectId,
            taskIid: this.iid
          })
        })

      this.visible = false
    },
    handleTopLevelTaskChange(e) {
      this.topLevel = e.target.checked
      if (this.topLevel) {
        this.parentTaskId = undefined
      }
    },
    handleExistingBranchCheckboxChange(e) {
      this.existingBranch = e.target.checked
      if (!this.existingBranch) {
        this.existingBranchName = undefined
      }
    },
    handleExistingBranchChange(branch) {
      if (branch !== undefined) {
        this.title = branch
      }
    },
    handleAssignToMe() {
      this.ownerId = this.getSubspaceUser.id
    },
    truncateString(str, num) {
      if (str === undefined) {
        return ''
      }
      if (str.length <= num) {
        return str
      }
      return str.slice(0, num) + '...'
    },
    setParamsFromTask(task) {
      if (task) {
        this.ownerId = task.ownerId
        if (task.description) {
          this.description = JSON.parse(task.description)
        }
        this.title = task.title
        this.autoRebase = task.autoRebase
        this.ongoing = task.ongoing
        this.noDirectContributions = task.noDirectContributions
        this.autoMergeUp = task.autoMergeUp
        this.requireOwnerApproval = task.requireOwnerApproval

        if (task.branch) {
          this.existingBranchName = task.branch
          this.existingBranch = true
        }

        this.id = task.id
        this.iid = task.iid
        this.closed = task.closed
        this.topLevel = task.topLevel
        this.parentTaskId = task.parentId
        this.selectBranchDisabled = task.selectBranchDisabled
        this.defaultSelectedParent = task.defaultSelectedParent
      }
    },
    branchDisabled(taskIid, contributionIid) {
      return !!(taskIid || contributionIid)
    },
    onRemoveTask() {
      this.submitRemoveTask(this.id).then(() =>
        this.$router.push({ path: './' })
      )
    },
    nbs(myString) {
      return myString.replace((/ /g, '\u00A0'))
    }
  }
}
</script>

<style scoped>
.taskButton {
  margin: 5px;
}
.f_sb {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
</style>
