<template>
  <a-card v-if="getCurrentTask" size="small" class="taskCard">
    <template slot="title">
      <router-link
        v-if="linkTitle"
        :to="getTasksUrl({ taskIid: getCurrentTask.task.iid })"
      >
        {{ headerText }}
      </router-link>
      <span v-else>{{ headerText }}</span>
    </template>
    <div class="f_sb">
      <div style="margin: 5px">
        <b>Parent Tasks: </b>
        <br v-if="!getTaskParentsArray(getCurrentTask.task.iid).length" />
        <div style="margin: 5px 0px 5px 0px">
          <a-breadcrumb separator=">">
            <a-breadcrumb-item
              v-for="(task, i) in getTaskParentsArray(getCurrentTask.task.iid)"
              :key="i"
            >
              <a-popover :title="task.title" placement="bottom">
                <template slot="content">
                  <MarkdownPreview :content="JSON.parse(task.description)" />
                </template>
                <a-tag>
                  <router-link :to="getTasksUrl({ taskIid: task.iid })">
                    {{ task.title }}
                  </router-link>
                </a-tag>
              </a-popover>
            </a-breadcrumb-item>
          </a-breadcrumb>
        </div>
      </div>
      <EditTaskDrawer
        :is-edit="true"
        :task-object="getCurrentTask"
        v-if="$auth.loggedIn"
      />
    </div>
    <div class="taskInfo">
      <a-row :gutter="16">
        <a-col :span="24">
          <b>Title: </b><span> {{ getCurrentTask.task.title }} </span>
        </a-col>
        <!--          <a-col :span="24">-->
        <!--            <b>Task ID: </b><span> {{ getCurrentTask.task.iid }} </span>-->
        <!--          </a-col>-->
        <a-col :span="24">
          <b>Owner: </b>
          <span><UserTag :user="getCurrentTask.user"/></span>
        </a-col>
        <a-col :span="24">
          <b>Branch: </b>
          <span>{{ getCurrentTask.task.branch }}</span>
        </a-col>
        <!--        <a-col :span="24">-->
        <!--          <b>Commit: </b><span>{{ getCurrentTask.task.commit }}</span>-->
        <!--        </a-col>-->
        <!--          <a-col :span="24"-->
        <!--            ><b>Closed: </b><span>{{ getCurrentTask.task.closed }}</span>-->
        <!--          </a-col>-->
        <!--          <a-col :span="24"-->
        <!--            ><b>Auto-rebase: </b><span>{{ getCurrentTask.task.autoRebase }}</span>-->
        <!--          </a-col>-->
        <!--          <a-col :span="24"-->
        <!--            ><b>Ongoing: </b><span>{{ getCurrentTask.task.ongoing }}</span>-->
        <!--          </a-col>-->
      </a-row>
      <br />
      <div>
        <a-tag v-if="getCurrentTask.task.autoMergeUp" color="green">
          Automatically push changes to parent task
        </a-tag>
        <a-tag v-if="getCurrentTask.task.autoRebase" color="blue">
          Automatically rebase child task branches
        </a-tag>
        <!--        <a-tag v-if="getCurrentTask.task.ongoing" color="orange">-->
        <!--          Ongoing task-->
        <!--        </a-tag>-->
        <!--        <a-tag v-if="getCurrentTask.task.noDirectContributions" color="grey">-->
        <!--          No direct contributions-->
        <!--        </a-tag>-->
        <!--        <a-tag v-if="getCurrentTask.task.requireOwnerApproval" color="red">-->
        <!--          Contributions require task owner final-approval-->
        <!--        </a-tag>-->
      </div>
      <br />
      <a-row :gutter="16">
        <a-col :span="24">
          <b>Description: </b>
          <br />
          <MarkdownPreview
            :content="JSON.parse(getCurrentTask.task.description)"
          />
        </a-col>
      </a-row>
    </div>
    <div style="margin: 5px">
      <b>Child Tasks: </b>
      <br />
      <br v-if="!getTaskChildrenArray(iid).length" />
      <a-popover
        v-for="(task, i) in getTaskChildrenArray(iid)"
        :key="i"
        :title="task.title"
        placement="top"
      >
        <template slot="content">
          <MarkdownPreview :content="JSON.parse(task.description)" />
        </template>
        <a-tag>
          <router-link :to="getTasksUrl({ taskIid: task.iid })">
            {{ task.title }}
          </router-link>
        </a-tag>
      </a-popover>
    </div>
    <div style="margin: 5px">
      <b>Peer Tasks: </b>
      <br />
      <br v-if="!getTaskPeerArray(iid).length" />
      <a-popover
        v-for="(task, i) in getTaskPeerArray(iid)"
        :key="i"
        :title="task.title"
        placement="top"
      >
        <template slot="content">
          <MarkdownPreview :content="JSON.parse(task.description)" />
        </template>
        <a-tag>
          <router-link :to="getTasksUrl({ taskIid: task.iid })">
            {{ task.title }}
          </router-link>
        </a-tag>
      </a-popover>
    </div>
  </a-card>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import MarkdownPreview from '../utils/MarkdownPreview'
import UserTag from '../user/UserTag'
import EditTaskDrawer from './EditTaskDrawer'

export default {
  name: 'TaskCard',
  components: {
    EditTaskDrawer,
    MarkdownPreview,
    UserTag
  },
  props: {
    inContribution: {
      type: Boolean,
      default: false
    },
    id: {
      type: Number,
      default: -1
    },
    iid: {
      type: Number,
      default: -1
    },
    linkTitle: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {}
  },
  computed: {
    ...mapGetters({
      getCurrentTask: 'tasks/getCurrentTask',
      getAllTasks: 'tasks/getAllTasks',
      getTaskList: 'tasks/getTaskList',
      getTaskById: 'tasks/getTaskById',
      getCurrentProjectId: 'projects/getCurrentProjectId',
      getProjectUsers: 'projectUsers/getProjectUsers',
      getTaskParentsArray: 'taskTree/getTaskParentsArray',
      getTaskChildrenArray: 'taskTree/getTaskChildrenArray',
      getTaskPeerArray: 'taskTree/getTaskPeerArray'
    }),
    headerText() {
      const prefix = 'Task'
      if (this.getCurrentTask?.task?.title) {
        return (
          prefix +
          ' #' +
          this.getCurrentTask.task.iid +
          ' - ' +
          this.getCurrentTask.task.title
        )
      } else {
        return ''
      }
    },
    group() {
      return this.$route.params?.group
    },
    project() {
      return this.$route.params?.name
    },
    getHomeUrl() {
      return `/gitlab/${this.group}/${this.project}`
    }
  },
  watch: {
    getCurrentProjectId: {
      handler(newValue) {
        if (newValue !== undefined) {
          this.fetchTask()
          this.fetchTaskTree(this.getCurrentProjectId)
        }
      }
    }
  },
  mounted() {
    this.fetchTask()
    this.fetchTaskTree(this.getCurrentProjectId)
  },
  methods: {
    ...mapActions({
      fetchTaskDetails: 'tasks/fetchTaskDetails',
      fetchTaskDetailsById: 'tasks/fetchTaskDetailsById',
      fetchTaskTree: 'taskTree/fetchTaskTree'
    }),
    fetchTask() {
      if (this.getCurrentProjectId && this.iid > 0) {
        this.fetchTaskDetails({
          projectId: this.getCurrentProjectId,
          taskIid: this.iid
        })
      } else if (this.id > 0) {
        this.fetchTaskDetailsById({
          taskId: this.id
        })
      }
    },
    getTasksUrl(taskIdObj) {
      return this.getHomeUrl + '/tasks/' + taskIdObj.taskIid
    }
  }
}
</script>

<style>
.taskCard {
  margin: 20px;
  height: 100%;
}
.taskInfo {
  margin: 5px;
}
.CodeMirror,
.CodeMirror-scroll {
  min-height: 50px;
}
.f_sb {
  display: flex;
  justify-content: space-between;
}
</style>
