<template>
  <div class="styleBox">
    <b style="font-size: 16px; margin-right: 5px">
      #{{ task.task.iid }} {{ task.task.title }} -
    </b>
    <a-tag color="#35C755" style="font-size: 18px" class="inactive">Open</a-tag>
    <UserTagLarge
      :user-name="task.user.username"
      :user-rep="task.user.reputation"
    />
  </div>
</template>

<script>
import UserTagLarge from '../user/UserTagLarge'

export default {
  name: 'StatusBar',
  components: {
    UserTagLarge
  },
  props: {
    task: {
      type: Object,
      default: undefined
    }
  }
}
</script>

<style scoped>
.styleBox {
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 10px;
  display: flex;
  justify-content: flex-start;
}
.inactive {
  cursor: default;
  pointer-events: none;
  /*color: #fe73b4;*/
}
</style>
