<template>
  <a-layout-footer class="footer">
    Subspace Networks, Inc. ©2020
  </a-layout-footer>
</template>

<script>
export default {
  name: 'Footer'
}
</script>

<style>
.footer {
  width: 100%;
  bottom: 0;
  position: absolute;
  height: 50px;
  vertical-align: middle;
  z-index: 100;
}
.ant-layout-footer {
  padding: 13px;
}
</style>
