<template>
  <div class="navBar">
    <a-menu :selectable="false" mode="horizontal" theme="dark">
      <a-menu-item key="logo" style="float: left">
        <router-link to="/">
          <div>
            <img
              src="~/assets/subspace-logo-white.png"
              width="140px"
              style="margin-left: 3px; margin-bottom: 3px"
            />
          </div>
        </router-link>
      </a-menu-item>
      <a-menu-item
        key="projectSelect"
        v-if="$auth.loggedIn"
        style="float: left"
      >
        <ProjectSelect style="float: left; margin-top: 7px" />
      </a-menu-item>
      <a-menu-item key="documentation" style="float: inside">
        <a href="http://docs.subspace.net" target="_blank">
          Documentation ↗️
          <!-- <a-icon type="arrow-up" />-->
        </a>
      </a-menu-item>
      <a-menu-item key="browse" style="float: inside">
        <router-link to="/browse">
          <span>Browse Projects</span>
        </router-link>
      </a-menu-item>
      <a-menu-item key="onboarding" v-if="$auth.loggedIn" style="float: inside">
        <router-link to="/onboarding">
          <a-icon
            type="plus-circle"
            class="menu-icon"
            style="margin-right: 4px"
          />
          <span>Onboarding</span>
        </router-link>
      </a-menu-item>

      <a-menu-item key="logout" v-if="!$auth.loggedIn" style="float: right">
        <a-button>
          <router-link to="/login">
            <span>Login</span>
          </router-link>
        </a-button>
      </a-menu-item>
      <a-menu-item key="logout" v-if="$auth.loggedIn" style="float: right">
        <a-button @click="logout">
          Logout
        </a-button>
      </a-menu-item>
      <a-menu-item
        key="user"
        v-if="$auth.loggedIn && getSubspaceUser"
        style="float: right"
      >
        <a-tooltip>
          <template slot="title">
            {{ getSubspaceUser.username }}<br />
            Reputation: {{ reputationPretty }}<br />
            Contribution Mana: {{ getSubspaceUser.mana || 0 }}/325
          </template>
          {{ getSubspaceUser.username }} [{{ reputationPretty }}🎖️,
          {{ getSubspaceUser.mana || 0 }}✨]
        </a-tooltip>
      </a-menu-item>
    </a-menu>

    <a-modal v-model="showTosModal" title="GitLab's Terms of Service">
      <div>
        Please be sure to accept GitLab's
        <a href="https://gitlab.com/-/users/terms" target="_blank"
          >latest terms of service</a
        >
        for Subspace to function properly.
      </div>
      <template slot="footer">
        <a-button :style="{ marginRight: '8px' }" @click="onCloseTosModal">
          Ok
        </a-button>
      </template>
    </a-modal>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex'
import ProjectSelect from './ProjectSelect'

export default {
  name: 'NavBar',
  components: {
    ProjectSelect
  },
  data() {
    return {
      showTosModal: false
    }
  },
  computed: {
    ...mapGetters({
      getGitUser: 'user/getGitUser',
      getSubspaceUser: 'user/getSubspaceUser',
      getGitlabAcceptedTOS: 'tos/getGitlabAcceptedTOS',
      getCurrentProjectId: 'projects/getCurrentProjectId'
    }),
    reputationPretty() {
      if (this.getSubspaceUser?.reputation) {
        return (
          Math.round((this.getSubspaceUser.reputation || 0) * 100.0) / 100.0
        )
      } else {
        return 0
      }
    },
    hostFormatted() {
      const hostParam = (this.$route.params?.host || '').toLowerCase()

      if (hostParam === 'gl' || hostParam === 'gitlab') {
        return 'GitLab'
      } else if (hostParam === 'gh' || hostParam === 'github') {
        return 'GitHub'
      } else if (hostParam === 'bb' || hostParam === 'bitbucket') {
        return 'BitBucket'
      } else {
        return ''
      }
    },
    host() {
      return this.hostFormatted.toUpperCase()
    },
    group() {
      return this.$route.params.group
    },
    name() {
      return this.$route.params.name
    }
  },
  mounted() {
    if (this.$auth.loggedIn) {
      this.fetchGitUser()
      this.fetchSubspaceUser()
      // this.fetchGitGroups()
      this.fetchGitRepos()
      this.fetchProjects()
    }

    // ==== GitLab terms-of-service acceptance
    this.fetchGitlabAcceptedTOS().then(() => {
      this.showTosModal = !this.getGitlabAcceptedTOS
    })

    // ==== Public Project ====
    if (this.host && this.group && this.name) {
      this.updateCurrentProjectParams({
        host: this.host,
        group: this.group,
        name: this.name
      })
      this.updateCurrentProjectFromParams()
      if (!this.getCurrentProject) {
        this.fetchPublicProject({
          host: this.host,
          namespace: this.group,
          name: this.name
        }).then(() => {
          this.updateCurrentProjectFromParams()
        })
      }
    }
  },
  methods: {
    ...mapMutations({
      updateCurrentProjectParams: 'projects/updateCurrentProjectParams',
      updateCurrentProjectFromParams: 'projects/updateCurrentProjectFromParams'
    }),
    ...mapActions({
      fetchGitUser: 'user/fetchGitUser',
      fetchSubspaceUser: 'user/fetchSubspaceUser',
      fetchProjects: 'projects/fetchProjects',
      fetchPublicProject: 'projects/fetchPublicProject',
      fetchGitGroups: 'gitGroups/fetchGitGroups',
      fetchGitRepos: 'gitRepos/fetchGitRepos',
      fetchTaskTree: 'taskTree/fetchTaskTree',
      fetchGitlabAcceptedTOS: 'tos/fetchGitlabAcceptedTOS'
    }),
    login() {},
    logout() {
      this.$auth.logout()
    },
    onCloseTosModal() {
      this.showTosModal = false
      location.reload()
    }
  }
}
</script>

<style scoped>
.project-select {
  margin: 5px;
}
.navBar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 100;
}
</style>
