<template>
  <a-select
    v-model="projectId"
    :filter-option="filterOption"
    @change="handleProjectChange"
    show-search
    placeholder="Select a project"
    option-filter-prop="children"
    class="project-select"
  >
    <a-select-option
      v-for="(project, i) in getProjects"
      :key="i"
      :value="project.id"
    >
      {{ project.name }}
    </a-select-option>
  </a-select>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex'

export default {
  name: 'ProjectSelect',
  data() {
    return {
      filterOption: ''
    }
  },
  computed: {
    ...mapGetters({
      getProjects: 'projects/getProjects',
      getCurrentProject: 'projects/getCurrentProject',
      getCurrentProjectId: 'projects/getCurrentProjectId'
    }),
    projectId: {
      get() {
        return this.getCurrentProjectId
      },
      set(newprojectId) {
        return newprojectId
      }
    }
  },
  mounted() {
    this.updateCurrentProjectParams({
      host: this.$route.params?.host,
      group: this.$route.params?.group,
      name: this.$route.params?.name
    })
  },
  methods: {
    ...mapMutations({
      updateCurrentProject: 'projects/updateCurrentProject',
      updateCurrentProjectParams: 'projects/updateCurrentProjectParams'
    }),
    handleProjectChange(projectId) {
      this.updateCurrentProject(projectId)
      this.$router.push({ path: this.getUrl(this.getCurrentProject) })
    },
    getUrl(project) {
      return `/gitlab/${project?.namespace}/${project?.name}`
    }
  }
}
</script>

<style scoped>
.project-select {
  width: 190px;
}
</style>
