<template>
  <div>
    <div v-show="getCurrentProject">
      <a-layout-sider class="sidebar">
        <a-menu
          :default-selected-keys="['1']"
          :selectable="false"
          mode="inline"
          theme="dark"
        >
          <!--      <a-menu-item key="r">-->
          <!--        <router-link to="/repos">-->
          <!--          <a-icon type="deployment-unit" class="menu-icon" />-->
          <!--          <span>Repos</span>-->
          <!--        </router-link>-->
          <!--      </a-menu-item>-->
          <a-menu-item key="dashboard">
            <router-link :to="getHomeUrl">
              <a-icon type="project" class="menu-icon" />
              <span>Dashboard</span>
            </router-link>
          </a-menu-item>
          <a-menu-item key="tasks">
            <router-link :to="getTasksUrl">
              <a-icon type="cluster" class="menu-icon" />
              <span>Tasks</span>
            </router-link>
          </a-menu-item>
          <!--          <a-menu-item key="3">-->
          <!--            <router-link to="/task">-->
          <!--              <a-icon type="build" class="menu-icon" />-->
          <!--              <span>Task</span>-->
          <!--            </router-link>-->
          <!--          </a-menu-item>-->
          <a-menu-item key="contributions">
            <router-link :to="getContributionsUrl">
              <a-icon type="solution" class="menu-icon" />
              <span>Contributions</span>
            </router-link>
          </a-menu-item>
          <a-menu-item key="branches">
            <router-link :to="getBranchesUrl">
              <a-icon type="branches" class="menu-icon" />
              <span>Branches</span>
            </router-link>
          </a-menu-item>
          <a-menu-item key="members">
            <router-link :to="getMembersUrl">
              <a-icon type="team" class="menu-icon" />
              <span>Members</span>
            </router-link>
          </a-menu-item>
          <a-menu-item key="settings">
            <router-link :to="getSettingsUrl">
              <a-icon type="setting" class="menu-icon" />
              <span>Settings</span>
            </router-link>
          </a-menu-item>
        </a-menu>
      </a-layout-sider>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'ProjectSideBar',
  data() {
    return {}
  },
  computed: {
    ...mapGetters({
      getCurrentProject: 'projects/getCurrentProject'
    }),
    group() {
      return this.$route.params?.group
    },
    project() {
      return this.$route.params?.name
    },
    getHomeUrl() {
      const project = this.getCurrentProject
      return `/gitlab/${project?.namespace}/${project?.name}`
    },
    getTasksUrl() {
      return this.getHomeUrl + '/tasks'
    },
    getContributionsUrl() {
      return this.getHomeUrl + '/contributions'
    },
    getBranchesUrl() {
      return this.getHomeUrl + '/branches'
    },
    getSettingsUrl() {
      return this.getHomeUrl + '/settings'
    },
    getMembersUrl() {
      return this.getHomeUrl + '/members'
    }
  }
}
</script>

<style scoped>
.sidebar {
  height: 100vh;
  position: fixed;
  padding-top: 46px;
}
.menu-icon {
  font-size: 20px;
}
</style>
