<template>
  <div>
    <a-row :gutter="16">
      <a-col :span="6">
        <a-form-item label="Project configuration">
          <a-select
            v-model="configuration"
            @change="handleConfigChange"
            :disabled="!isOwner()"
            style="width: 180px"
          >
            <a-select-option v-for="config in preConfigured" :key="config">
              {{ config }}
            </a-select-option>
          </a-select>
        </a-form-item>
        <a-button @click="handleSave" :disabled="!isOwner()" type="primary"
          >Save configuration</a-button
        >
      </a-col>
      <a-col :span="18">
        <a-card size="small" title="Contribution Dynamics">
          <a-row :gutter="16">
            <a-col :span="24">
              <a-form-item label="Support proportion required for acceptance">
                <a-select
                  v-model="supportProportion"
                  :disabled="nonCustom() || !isOwner()"
                  style="width: 120px"
                >
                  <a-select-option
                    v-for="prop in supportProportions"
                    :key="prop"
                  >
                    {{ prop }}
                  </a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
            <a-col :span="24">
              <a-form-item label="Acceptance threshold half-life">
                <a-input-group compact>
                  <a-input-number
                    :min="1"
                    :max="60"
                    v-model="contributionTimeConstant"
                    :disabled="nonCustom() || !isOwner()"
                  />
                  <a-select
                    v-model="timeUnit"
                    :disabled="nonCustom() || !isOwner()"
                    style="width: 120px"
                  >
                    <a-select-option v-for="unit in timeUnits" :key="unit">
                      {{ unit }}
                    </a-select-option>
                  </a-select>
                </a-input-group>
              </a-form-item>
            </a-col>
            <a-col :span="24">
              <a-form-item
                label="Days from latest commit until auto-decline (if not accepted)"
              >
                <a-input-group compact>
                  <a-input-number
                    :min="1"
                    :max="120"
                    v-model="commitToDeclineDays"
                    :disabled="nonCustom() || !isOwner()"
                  />
                </a-input-group>
              </a-form-item>
            </a-col>
            <a-col :span="24">
              <a-form-item
                label="Days from creation until auto-decline (if not accepted)"
              >
                <a-input-group compact>
                  <a-input-number
                    :min="1"
                    :max="120"
                    v-model="createToDeclineDays"
                    :disabled="nonCustom() || !isOwner()"
                  />
                </a-input-group>
              </a-form-item>
            </a-col>
          </a-row>
        </a-card>
        <!--        <br />-->
        <!--        <a-card size="small" title="Task Permissions">-->
        <!--          <a-row :gutter="16">-->
        <!--            <a-col :span="24">-->
        <!--              [work in progress]-->
        <!--            </a-col>-->
        <!--          </a-row>-->
        <!--        </a-card>-->
      </a-col>
    </a-row>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'ProjectSettings',
  data() {
    return {
      preConfigured: [
        'Hackathon',
        'Standard',
        'Open-source',
        'High security',
        'Custom'
      ],
      configuration: 'Custom',
      timeUnits: ['Minutes', 'Hours', 'Days'],
      timeUnit: 'Days',
      supportProportions: [0.65, 0.7, 0.75, 0.8, 0.85, 0.9, 0.95],
      supportProportion: 0.85,
      contributionTimeConstant: 3,
      commitToDeclineDays: 14,
      createToDeclineDays: 28
    }
  },
  computed: {
    ...mapGetters({
      getCurrentProjectId: 'projects/getCurrentProjectId',
      getProjectSettings: 'projectSettings/getProjectSettings',
      getGitUser: 'user/getGitUser',
      getSubspaceUser: 'user/getSubspaceUser',
      getCurrentContribution: 'contributions/getCurrentContribution'
    })
  },
  watch: {
    getProjectSettings: {
      handler(settings) {
        if (settings !== undefined) {
          this.configuration = 'Custom'
          this.supportProportion = settings.support_proportion_required

          let timeUnit = 'Minutes'
          let timeValue = settings.threshold_halflife_seconds / 60

          if (settings.threshold_halflife_seconds >= 60 * 60) {
            timeUnit = 'Hours'
            timeValue = settings.threshold_halflife_seconds / (60 * 60)
          }

          if (settings.threshold_halflife_seconds >= 24 * 60 * 60) {
            timeUnit = 'Days'
            timeValue = settings.threshold_halflife_seconds / (24 * 60 * 60)
          }

          this.timeUnit = timeUnit
          this.contributionTimeConstant = timeValue

          this.commitToDeclineDays =
            settings.seconds_from_commit_until_decline / (24 * 60 * 60)
          this.createToDeclineDays =
            settings.seconds_from_start_until_decline / (24 * 60 * 60)
        }
      }
    }
  },
  mounted() {
    this.handleConfigChange('Custom')

    if (this.getCurrentProjectId) {
      this.fetchProjectSettings(this.getCurrentProjectId)
    } else {
      this.fetchProjects().then(() => {
        return this.fetchProjectSettings(this.getCurrentProjectId)
      })
    }
  },
  methods: {
    ...mapActions({
      submitUpdateProjectSettings:
        'projectSettings/submitUpdateProjectSettings',
      fetchProjectSettings: 'projectSettings/fetchProjectSettings',
      fetchProjects: 'projects/fetchProjects'
    }),
    nonCustom() {
      return this.configuration !== 'Custom'
    },
    handleConfigChange(config) {
      if (config === 'Hackathon') {
        this.timeUnit = 'Minutes'
        this.contributionTimeConstant = 30
        this.supportProportion = 0.7
        this.commitToDeclineDays = 1
        this.createToDeclineDays = 2
      } else if (config === 'Standard') {
        this.timeUnit = 'Days'
        this.contributionTimeConstant = 1
        this.supportProportion = 0.85
        this.commitToDeclineDays = 14
        this.createToDeclineDays = 28
      } else if (config === 'Open-source') {
        this.timeUnit = 'Days'
        this.contributionTimeConstant = 3
        this.supportProportion = 0.9
        this.commitToDeclineDays = 30
        this.createToDeclineDays = 90
      } else if (config === 'High security') {
        this.timeUnit = 'Days'
        this.contributionTimeConstant = 7
        this.supportProportion = 0.95
        this.commitToDeclineDays = 30
        this.createToDeclineDays = 90
      }
    },
    handleSave() {
      let thresholdSeconds = this.contributionTimeConstant

      if (this.timeUnit === 'Days') {
        thresholdSeconds = this.contributionTimeConstant * 24 * 60 * 60
      } else if (this.timeUnit === 'Hours') {
        thresholdSeconds = this.contributionTimeConstant * 60 * 60
      } else if (this.timeUnit === 'Minutes') {
        thresholdSeconds = this.contributionTimeConstant * 60
      }

      this.submitUpdateProjectSettings(
        {
          project_id: this.getCurrentProjectId,
          support_proportion_required: this.supportProportion,
          threshold_halflife_seconds: thresholdSeconds,
          seconds_from_commit_until_decline:
            this.commitToDeclineDays * 24 * 60 * 60,
          seconds_from_start_until_decline:
            this.createToDeclineDays * 24 * 60 * 60,
          created_at: this.getProjectSettings.created_at,
          updated_at: this.getProjectSettings.updated_at
        },
        this.getCurrentProjectId
      )
    },
    isOwner() {
      if (this.getCurrentContribution && this.getSubspaceUser) {
        return (
          this.getCurrentContribution?.user?.id === this.getSubspaceUser?.id
        )
      } else {
        return false
      }
    }
  }
}
</script>

<style scoped></style>
