<template>
  <div>
    <a-tabs :animated="false" default-active-key="1">
      <a-tab-pane key="1" tab="Project">
        <ProjectSettings />
      </a-tab-pane>
      <a-tab-pane key="2" v-if="$auth.loggedIn" tab="Billing">
        <BillingSettings />
      </a-tab-pane>
    </a-tabs>
  </div>
</template>

<script>
import ProjectSettings from './ProjectSettings'
import BillingSettings from './BillingSettings'

export default {
  name: 'SettingsComponent',
  components: {
    ProjectSettings,
    BillingSettings
  }
}
</script>

<style scoped></style>
