<template>
  <div class="styleBox">
    <div class="leftContent">
      <b style="font-size: 16px; margin-right: 5px">
        #{{ contribution.iid }} {{ contribution.title }} -
      </b>
      <a-tag
        v-if="isOpen"
        color="#9ed944"
        style="font-size: 18px"
        class="inactive"
        >Open</a-tag
      >
      <a-tag
        v-if="isAccepted"
        color="#35C755"
        style="font-size: 18px"
        class="inactive"
        >Accepted</a-tag
      >
      <a-tag
        v-if="isPending"
        color="#ffa000"
        style="font-size: 18px"
        class="inactive"
        >Pending</a-tag
      >
      <a-tag
        v-if="isDeclined"
        color="#c20c00"
        style="font-size: 18px"
        class="inactive"
        >Decined</a-tag
      >
      <UserTagLarge
        :user-name="contribution.user.username"
        :user-rep="contribution.user.reputation"
      />
    </div>
    <div>
      <a-tag
        v-if="contribution.approval"
        color="#fe8f2a"
        style="font-size: 18px"
        class="inactive"
      >
        Submitted Approval
      </a-tag>
      <a-tag
        v-if="hasSuggestions"
        color="#fe73b4"
        style="font-size: 18px"
        class="inactive"
      >
        Made Suggestions
      </a-tag>
      <a-tag
        v-if="isContributor"
        color="#4291FE"
        style="font-size: 18px"
        class="inactive"
      >
        Contributor
      </a-tag>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import UserTagLarge from '../../user/UserTagLarge'

export default {
  name: 'StatusBar',
  components: {
    UserTagLarge
  },
  props: {
    contribution: {
      type: Object,
      default: undefined
    }
  },
  computed: {
    ...mapGetters({
      getSuggestionList: 'suggestions/getSuggestionList',
      getSubspaceUser: 'user/getSubspaceUser',
      getCurrentContribution: 'contributions/getCurrentContribution'
    }),
    hasSuggestions() {
      return this.getSuggestionList
        .filter((s) => s.suggestion.contId === this.contribution.id)
        .filter((s) => s.suggestion.userId === this.getSubspaceUser.id).length
    },
    isContributor() {
      return this.getCurrentContribution.user.id === this.getSubspaceUser.id
    },
    isAccepted() {
      return this.getCurrentContribution.state === 'ACCEPTED'
    },
    isOpen() {
      return this.getCurrentContribution.state === 'OPEN'
    },
    isPending() {
      return this.getCurrentContribution.state === 'PENDING'
    },
    isDeclined() {
      return this.getCurrentContribution.state === 'DECLINED'
    }
  }
}
</script>

<style scoped>
.styleBox {
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
.leftContent {
  display: flex;
  justify-content: flex-start;
}
.inactive {
  cursor: default;
  pointer-events: none;
  /*color: #ffa000;*/
}
</style>
