<template>
  <a-card :title="title" size="small" class="contribution-card">
    <div v-if="contribution" class="contributionInfo">
      <div class="f_sb" style="margin-bottom: 5px">
        <a-button :href="compareURL" target="_blank" style="margin-top: 5px">
          View contribution code changes
        </a-button>
        <EditContributionDrawer
          :is-edit="true"
          :contribution="contribution"
          v-if="$auth.loggedIn"
        />
      </div>
      <a-row :gutter="16">
        <a-col :span="24">
          <b>Title: </b><span> {{ contribution.title }} </span>
        </a-col>
        <!--          <a-col :span="24">-->
        <!--            <b>Contribution ID: </b><span> {{ contribution.iid }} </span>-->
        <!--          </a-col>-->
        <a-col :span="24">
          <b>Contributor: </b>
          <span
            ><UserTag v-if="contribution.user" :user="contribution.user"
          /></span>
        </a-col>
        <a-col :span="24">
          <b>Branch: </b>
          <span>{{ contribution.branch }}</span>
        </a-col>
        <!--        <a-col :span="24">-->
        <!--          <b>Commit: </b>-->
        <!--          <span>{{ contribution.commit }}</span>-->
        <!--        </a-col>-->
        <!--          <a-col :span="24">-->
        <!--            <b>Closed: </b>-->
        <!--            <span>{{ contribution.closed }}</span>-->
        <!--          </a-col>-->
        <!--          <a-col :span="24">-->
        <!--            <b>Auto-update with commits: </b>-->
        <!--            <span>{{ contribution.autoUpdateWithCommits }}</span>-->
        <!--          </a-col>-->
      </a-row>
      <br />
      <div>
        <a-tag v-if="contribution.autoUpdateWithCommits" color="blue">
          Auto-update with new commits
        </a-tag>
      </div>
      <br />
      <a-row :gutter="16">
        <a-col :span="24">
          <b>Description: </b>
          <br />
          <MarkdownPreview :content="JSON.parse(contribution.description)" />
        </a-col>
      </a-row>
    </div>
  </a-card>
</template>

<script>
import { mapGetters } from 'vuex'
import MarkdownPreview from '../../utils/MarkdownPreview'
import EditContributionDrawer from '../EditContributionDrawer'
import UserTag from '../../user/UserTag'

export default {
  name: 'ContributionDetails',
  components: {
    EditContributionDrawer,
    MarkdownPreview,
    UserTag
  },
  props: {
    contribution: {
      type: Object,
      default: undefined
    }
  },
  data() {
    return {}
  },
  computed: {
    ...mapGetters({
      getCurrentProjectId: 'projects/getCurrentProjectId',
      getCurrentProjectHomeUrl: 'projects/getCurrentProjectHomeUrl',
      getCurrentTask: 'tasks/getCurrentTask',
      getCurrentContribution: 'contributions/getCurrentContribution'
    }),
    compareURL() {
      if (this.getCurrentTask && this.getCurrentContribution) {
        return (
          this.getCurrentProjectHomeUrl +
          '/compare/' +
          this.getCurrentTask.task.branch +
          '...' +
          this.getCurrentContribution.branch
        )
      }
      return ''
    },
    title() {
      return (
        'Contribution #' +
        this.contribution.iid +
        ' - ' +
        this.contribution.title
      )
    }
  },
  methods: {}
}
</script>

<style scoped>
.contribution-card {
  margin: 20px;
  height: 100%;
}
.contributionInfo {
  margin-left: 5px;
  margin-right: 5px;
}
.f_sb {
  display: flex;
  justify-content: space-between;
}
</style>
