<template>
  <div v-if="getSuggestionList">
    <a-card :title="cardTitle" size="small" class="contribution-card">
      <div v-for="(suggestion, i) in suggestions" :key="i">
        <SuggestionCard :suggestion-object="suggestion" :is-mine="isMine" />
      </div>
    </a-card>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import SuggestionCard from './SuggestionCard'

export default {
  name: 'ContributionFeedback',
  components: { SuggestionCard },
  props: {
    contribution: {
      type: Object,
      default: undefined
    },
    suggestions: {
      type: Array,
      default: () => []
    },
    isMine: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {}
  },
  computed: {
    ...mapGetters({
      getCurrentProjectId: 'projects/getCurrentProjectId',
      getCurrentContribution: 'contributions/getCurrentContribution',
      getSuggestionList: 'suggestions/getSuggestionList'
    }),
    cardTitle() {
      if (this.isMine) {
        return 'My Feedback'
      } else {
        return 'All Feedback'
      }
    }
  },
  methods: {
    ...mapActions({})
  }
}
</script>

<style scoped>
.contribution-card {
  margin: 20px;
}
</style>
