<template>
  <a-card title="Review Actions" size="small" class="contribution-card">
    <div class="f_se">
      <div>
        <a-button
          @click="handleApprovalButton"
          :disabled="isOwner()"
          v-if="!contribution.approval"
          class="approveButton"
          size="large"
        >
          Approve and lend a hand
        </a-button>
        <a-button
          @click="onWithdrawApproval"
          :disabled="isOwner()"
          v-if="contribution.approval"
          class="approveButton"
          size="large"
        >
          Withdraw approval
        </a-button>
        <a-modal
          v-model="showApprovalInput"
          title="Approve contribution and lend a hand in it's completion"
          width="600px"
        >
          <div>
            <a-row :gutter="16">
              <a-col :span="20">
                <a-form-item label="Contribution Value">
                  <ManaInput
                    v-model="approval.manaUsed"
                    :current-mana="getSubspaceUser.mana"
                  />
                </a-form-item>
              </a-col>
              <a-col :span="24">
                <a-checkbox
                  :checked="approval.maintainApproval"
                  @change="
                    (e) => (approval.maintainApproval = e.target.checked)
                  "
                >
                  Maintain approval after additional commits (can still be
                  removed later)
                </a-checkbox>
              </a-col>
            </a-row>
          </div>
          <template slot="footer">
            <a-button :style="{ marginRight: '8px' }" @click="onCloseApproval">
              Cancel
            </a-button>
            <a-button @click="onSubmitApproval" type="primary">Submit</a-button>
          </template>
        </a-modal>
      </div>
      <div>
        <a-button
          @click="handleSuggestButton"
          :disabled="isOwner()"
          class="suggestButton"
          size="large"
        >
          Add suggestion
        </a-button>
        <a-modal
          v-model="showSuggestionInput"
          title="Contribution Suggestion"
          width="900px"
        >
          <div>
            <a-row :gutter="16">
              <a-col :span="16">
                <a-form-item label="Suggestion title">
                  <a-input v-model="suggestion.title" placeholder="title" />
                </a-form-item>
              </a-col>
              <a-col :span="8">
                <a-form-item label="Suggestion Importance">
                  <ManaInput
                    v-model="suggestion.manaUsed"
                    :current-mana="getSubspaceUser.mana"
                  />
                </a-form-item>
              </a-col>
              <a-col :span="24">
                <a-form-item label="Tags (optional)">
                  <a-select
                    @change="handleSuggestionTagChange"
                    mode="multiple"
                    style="width: 100%"
                    placeholder="type of suggestion"
                  >
                    <a-select-option v-for="t in tags" :key="t">
                      {{ t }}
                    </a-select-option>
                  </a-select>
                </a-form-item>
              </a-col>
            </a-row>
            <a-form-item label="Description">
              <vue-simplemde
                ref="markdownEditor"
                v-model="suggestion.description"
                preview-class="markdown-body"
              />
            </a-form-item>
          </div>
          <template slot="footer">
            <a-button
              :style="{ marginRight: '8px' }"
              @click="onCloseSuggestion"
            >
              Cancel
            </a-button>
            <a-button @click="onSubmitSuggestion" type="primary"
              >Submit</a-button
            >
          </template>
        </a-modal>
      </div>
    </div>
  </a-card>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import ManaInput from '../../utils/ManaInput'

export default {
  name: 'ContributionReview',
  components: {
    ManaInput
  },
  props: {
    contribution: {
      type: Object,
      default: undefined
    }
  },
  data() {
    return {
      manaUsed: 1,
      showApprovalInput: false,
      showSuggestionInput: false,
      approval: {
        manaUsed: 1,
        maintainApproval: true
      },
      suggestion: {
        manaUsed: 1,
        title: '',
        description: ''
      },
      contId: 1,
      tags: [
        'formatting',
        'typo',
        'mistake',
        'refactor',
        'convention',
        'best practices',
        'anti-pattern',
        "don't repeat yourself (DRY)"
      ]
    }
  },
  computed: {
    ...mapGetters({
      getCurrentProjectId: 'projects/getCurrentProjectId',
      getProjectUsers: 'projectUsers/getProjectUsers',
      getGitUser: 'user/getGitUser',
      getSubspaceUser: 'user/getSubspaceUser',
      getCurrentContribution: 'contributions/getCurrentContribution'
    })
  },
  mounted() {},
  methods: {
    ...mapActions({
      submitNewSuggestion: 'suggestions/submitNewSuggestion',
      submitNewApproval: 'approvals/submitNewApproval',
      submitRemoveApproval: 'approvals/submitRemoveApproval',
      fetchContributionDetails: 'contributions/fetchContributionDetails',
      fetchSuggestionList: 'suggestions/fetchSuggestionList'
    }),
    handleSuggestButton() {
      this.showSuggestionInput = !this.showSuggestionInput
    },
    handleSuggestionTagChange() {},
    onCloseSuggestion() {
      this.showSuggestionInput = false
    },
    onSubmitSuggestion() {
      this.submitNewSuggestion({
        projectId: this.getCurrentProjectId,
        contId: this.contribution.id,
        userId: this.getSubspaceUser.id,
        userRep: this.getSubspaceUser.reputation,
        manaUsed: this.suggestion.manaUsed,
        importance: this.suggestion.importance,
        title: this.suggestion.title,
        description: JSON.stringify(this.suggestion.description)
      }).then(() => {
        this.fetchSuggestionList(this.getCurrentProjectId)
        this.showSuggestionInput = false
        Object.assign(this.$data, this.$options.data.apply(this))
      })
    },
    handleApprovalButton() {
      this.showApprovalInput = !this.showApprovalInput
    },
    onCloseApproval() {
      this.showApprovalInput = false
    },
    onSubmitApproval() {
      this.submitNewApproval({
        projectId: this.getCurrentProjectId,
        contId: this.contribution.id,
        userId: this.getSubspaceUser.id,
        userRep: this.getSubspaceUser.reputation,
        manaUsed: this.approval.manaUsed,
        value: this.approval.commitment,
        branch: '', // FIXME
        commit: '', // FIXME
        maintain_approval: this.approval.maintainApproval
      }).then(() => {
        this.fetchContribution()
        this.showSuggestionInput = false
        Object.assign(this.$data, this.$options.data.apply(this))
      })
    },
    onWithdrawApproval() {
      this.submitRemoveApproval(this.contribution.id).then(() => {
        this.fetchContribution()
      })
    },
    fetchContribution() {
      if (this.getCurrentProjectId && this.contribution.iid) {
        this.fetchContributionDetails({
          projectId: this.getCurrentProjectId,
          contributionIid: this.contribution.iid
        })
      }
    },
    isOwner() {
      return this.getCurrentContribution.user.id === this.getSubspaceUser.id
    }
  }
}
</script>

<style>
.contribution-card {
  margin: 20px;
  z-index: 0;
}
.approveButton {
}
.suggestButton {
}
.f_se {
  display: flex;
  justify-content: space-evenly;
}
</style>
