<template>
  <div>
    <a-card
      size="small"
      class="contribution-card"
      title="Contribution Review Status"
    >
      <a-tag
        v-if="isOpen"
        color="#9ed944"
        style="font-size: 18px"
        class="inactive"
        >Open</a-tag
      >
      <a-tag
        v-if="isAccepted"
        color="#35C755"
        style="font-size: 18px"
        class="inactive"
        >Accepted</a-tag
      >
      <a-tag
        v-if="isPending"
        color="#ffa000"
        style="font-size: 18px"
        class="inactive"
        >Pending</a-tag
      >
      <a-tag
        v-if="isDeclined"
        color="#c20c00"
        style="font-size: 18px"
        class="inactive"
        >Decined</a-tag
      >
      <br />
      <br />
      <a-row :gutter="16">
        <a-col :span="24">
          <a-alert
            v-if="openToBeAccepted"
            type="success"
            show-icon
            style="margin-bottom: 5px"
          >
            <template slot="message">
              This contribution is on track to be <b>accepted</b> in:
              <countdown
                v-if="contribution.stateChangeAt"
                :time="getTimeDifference(contribution.stateChangeAt)"
              >
                <template slot-scope="props">
                  {{ props.days }} days, {{ props.hours }} hours,
                  {{ props.minutes }} minutes, {{ props.seconds }} seconds.
                </template>
              </countdown>
            </template>
          </a-alert>
        </a-col>
        <a-col :span="24">
          <a-alert
            v-if="openToBePending"
            type="warning"
            show-icon
            style="margin-bottom: 5px"
          >
            <template slot="message">
              This contribution is on track to be <b>pending</b> in:
              <countdown
                v-if="contribution.stateChangeAt"
                :time="getTimeDifference(contribution.stateChangeAt)"
              >
                <template slot-scope="props">
                  {{ props.days }} days, {{ props.hours }} hours,
                  {{ props.minutes }} minutes, {{ props.seconds }} seconds.
                </template>
              </countdown>
            </template>
          </a-alert>
        </a-col>
        <!--        <a-col :span="24">-->
        <!--          <ThresholdChart />-->
        <!--        </a-col>-->
        <!--        -->
        <!--        <a-col :span="24">-->
        <!--          <b>Vote determination threshold: </b>-->
        <!--          <span>{{ 405 }}</span>-->
        <!--        </a-col>-->
        <!--        <a-col :span="24">-->
        <!--          <b>Total vote points: </b>-->
        <!--          <span>{{ 122 }}</span>-->
        <!--        </a-col>-->
        <!--        <a-col :span="24">-->
        <!--          <b>Support points: </b>-->
        <!--          <span>{{ 95 }}</span>-->
        <!--        </a-col>-->
        <!--        <a-col :span="24">-->
        <!--          <b>Feedback points: </b>-->
        <!--          <span>{{ 27 }}</span>-->
        <!--        </a-col>-->
        <!--        <a-col :span="24">-->
        <!--          <b>Support proportion: </b>-->
        <!--          <span>{{ 0.74 }}</span>-->
        <!--        </a-col>-->
        <!--        <a-col :span="24">-->
        <!--          <b>Support proportion required: </b>-->
        <!--          <span>{{ 0.85 }}</span>-->
        <!--        </a-col>-->
        <a-col :span="24">
          <br />
        </a-col>
        <a-col :span="24">
          <b>Supporters: </b>
          <br />
          <br v-if="!supporters.length" />
          <div v-for="(user, i) in supporters" :key="i">
            <UserTag :user="user" />
          </div>
        </a-col>
        <a-col :span="24">
          <b>Feedback from: </b>
          <br />
          <br v-if="!distinctSuggesters.length" />
          <div v-for="(user, i) in distinctSuggesters" :key="i">
            <UserTag :user="user" />
          </div>
        </a-col>
        <a-col :span="24">
          <br />
        </a-col>
      </a-row>
    </a-card>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import UserTag from '../../user/UserTag'
// import ThresholdChart from './ThresholdChart'

const unique = () => {
  let cache

  return (elem, index, array) => {
    if (!cache) cache = new Set(array)
    return cache.delete(elem)
  }
}

export default {
  name: 'ContributionReview',
  components: {
    UserTag
  },
  props: {
    contribution: {
      type: Object,
      default: undefined
    }
  },
  data() {
    return {}
  },
  computed: {
    ...mapGetters({
      getCurrentProjectId: 'projects/getCurrentProjectId',
      getProjectUsers: 'projectUsers/getProjectUsers',
      getGitUser: 'user/getGitUser',
      getSubspaceUser: 'user/getSubspaceUser',
      getSuggestionList: 'suggestions/getSuggestionList'
    }),
    supporters() {
      return this.contribution.supporters
    },
    distinctSuggesters() {
      return this.getSuggestionList
        .map((suggestionObj) => suggestionObj.user)
        .map((x) => JSON.stringify(x))
        .filter(unique())
        .map((x) => JSON.parse(x))
        .sort((a, b) => (a.reputation > b.reputation ? 1 : -1))
    },
    openToBeAccepted() {
      return this.contribution.stateFuture === 'ACCEPTED'
    },
    openToBePending() {
      return this.contribution.stateFuture === 'PENDING'
    },
    isAccepted() {
      return this.contribution.state === 'ACCEPTED'
    },
    isOpen() {
      return this.contribution.state === 'OPEN'
    },
    isPending() {
      return this.contribution.state === 'PENDING'
    },
    isDeclined() {
      return this.contribution.state === 'DECLINED'
    }
  },
  mounted() {},
  methods: {
    dateFormat(date) {
      return date
        .replace('T', ' ')
        .replace('Z', ' ')
        .split('.')[0]
    },
    getTimeDifference(dateString) {
      let currentTime = new Date().toLocaleString('en-US', {
        timeZone: 'America/New_York'
      })
      currentTime = new Date(currentTime)

      const tzOffset = currentTime.getTimezoneOffset() * 60000
      const futureTime = Date.parse(dateString) + tzOffset

      return Math.max(futureTime - currentTime, 0)
    }
  }
}
</script>

<style>
.contribution-card {
  margin: 20px;
  z-index: 0;
}
.CodeMirror,
.CodeMirror-scroll {
  min-height: 150px;
}
.inactive {
  cursor: default;
  pointer-events: none;
  /*color: #ffa000;*/
}
</style>
