<template>
  <div>
    <a-list
      v-if="comments.length"
      :dataSource="comments"
      :header="
        `${comments.length} ${comments.length > 1 ? 'replies' : 'reply'}`
      "
      item-layout="horizontal"
    >
      <a-list-item slot="renderItem" slot-scope="item">
        <a-comment
          :author="item.user.username"
          :content="item.comment.comment"
          :datetime="dateFormat(item.comment.createdAt)"
        >
        </a-comment>
      </a-list-item>
    </a-list>
    <br />
    <a-comment v-if="$auth.loggedIn" class="comment">
      <!--      <a-avatar-->
      <!--        slot="avatar"-->
      <!--        src="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"-->
      <!--        alt="Han Solo"-->
      <!--      />-->
      <div slot="content">
        <a-form-item>
          <a-textarea
            :rows="4"
            @change="handleChange"
            :value="value"
          ></a-textarea>
        </a-form-item>
        <a-form-item>
          <a-button
            :loading="submitting"
            @click="handleSubmit"
            html-type="submit"
            type="primary"
          >
            Add Comment
          </a-button>
        </a-form-item>
      </div>
    </a-comment>
  </div>
</template>
<script>
import moment from 'moment'
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'SuggestionCommentThread',
  props: {
    suggestion: {
      type: Object,
      default: undefined
    }
  },
  data() {
    return {
      submitting: false,
      value: '',
      comments: [],
      moment
    }
  },
  computed: {
    ...mapGetters({
      getSuggestionComments: 'suggestionComments/getSuggestionComments',
      getSubspaceUser: 'user/getSubspaceUser'
    })
  },
  watch: {
    getSuggestionComments: {
      handler(newValue) {
        if (newValue !== undefined) {
          this.comments = this.getSuggestionComments[this.suggestion.id]
        }
      }
    }
  },
  mounted() {
    this.fetchSuggestionComments(this.suggestion.id).then(() => {
      this.comments = this.getSuggestionComments[this.suggestion.id]
    })
  },
  methods: {
    ...mapActions({
      fetchSuggestionComments: 'suggestionComments/fetchSuggestionComments',
      submitNewSuggestionComment:
        'suggestionComments/submitNewSuggestionComment'
    }),
    handleSubmit() {
      if (!this.value) {
        return
      }

      this.submitting = true

      this.submitNewSuggestionComment({
        suggestionId: this.suggestion.id,
        iid: this.iid,
        authorId: this.getSubspaceUser.id,
        comment: this.value
      })
        .then(() => this.fetchSuggestionComments(this.suggestion.id))
        .then(() => {
          this.comments = this.getSuggestionComments[this.suggestion.id]
          this.submitting = false
          this.value = ''
        })
    },
    handleChange(e) {
      this.value = e.target.value
    },
    dateFormat(date) {
      return date
        .replace('T', ' ')
        .replace('Z', ' ')
        .split('.')[0]
    }
  }
}
</script>

<style>
.ant-comment-inner {
  padding: 0px;
}
.ant-list-item {
  padding: 5px;
}
.comment {
  margin: -10px 0 -25px -10px;
}
</style>
