<template>
  <div style="margin-top: 5px; margin-bottom: 5px">
    <a-collapse>
      <a-collapse-panel>
        <template slot="header">
          <a-row :gutter="16">
            <a-col :span="1">
              <b>{{ suggestion.iid }}</b>
            </a-col>
            <a-col :span="3">
              <a-tag :color="cardStatusColor">{{ cardStatus }}</a-tag>
            </a-col>
            <a-col :span="1">
              <a-tag color="lightblue">4</a-tag>
            </a-col>
            <a-col :span="15">
              {{ suggestion.title }}
            </a-col>
            <a-col :span="3">
              <UserTag :user="user" />
            </a-col>
          </a-row>
        </template>
        <div class="f_sb md_margin">
          <MarkdownPreview
            :content="JSON.parse(suggestion.description)"
            class="suggestion_md"
          />
          <div v-if="isSuggester">
            <a-button
              :disabled="!isAddressed"
              @click="onSubmitAccept"
              html-type="submit"
              type="primary"
              class="suggestion_button"
            >
              Accept Revisions
            </a-button>
            <a-button
              :disabled="!isSuggested"
              @click="onWithdrawSuggestion"
              html-type="submit"
              type="danger"
              class="suggestion_button"
            >
              Withdraw Suggestion
            </a-button>
          </div>
          <div v-if="isOwner">
            <a-button
              :disabled="!isSuggested"
              @click="onOpenAddressModal"
              html-type="submit"
              type="primary"
              class="suggestion_button"
            >
              Address Suggestion
            </a-button>
          </div>
        </div>
        <a-row :gutter="16">
          <a-col :span="8" style="margin-left: 10px">
            Created at: {{ dateFormat(suggestion.createdAt) }}
          </a-col>
          <!--          <a-col :span="9">-->
          <!--            Last updated at: {{ dateFormat(suggestion.updatedAt) }}-->
          <!--          </a-col>-->
          <a-col :span="24">
            <SuggestionCommentThread :suggestion="suggestion" />
          </a-col>
        </a-row>
      </a-collapse-panel>
    </a-collapse>
    <a-modal
      v-model="showAddressModal"
      title="Address suggestion"
      width="600px"
    >
      <div>
        <a-row :gutter="16">
          <a-col :span="24">
            <a-form-item label="Commits reflecting suggested code changes">
              <a-select
                v-model="addressCommits"
                mode="multiple"
                style="width: 75%"
                placeholder="Select"
              >
                <a-select-option
                  v-for="(c, i) in getCommits(
                    getCurrentProjectId,
                    getCurrentContribution.branch
                  )"
                  :key="i"
                >
                  [{{ c.shortId }}] {{ c.title }}
                </a-select-option>
              </a-select>
            </a-form-item>
          </a-col>
        </a-row>
      </div>
      <template slot="footer">
        <a-button :style="{ marginRight: '8px' }" @click="onCloseAddressModal">
          Cancel
        </a-button>
        <a-button @click="onSubmitAddress" type="primary"
          >Submit address</a-button
        >
      </template>
    </a-modal>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import MarkdownPreview from '../../utils/MarkdownPreview'
import UserTag from '../../user/UserTag'
import SuggestionCommentThread from './SuggestionCommentThread'

export default {
  name: 'SuggestionCard',
  components: {
    SuggestionCommentThread,
    MarkdownPreview,
    UserTag
  },
  props: {
    suggestionObject: {
      type: Object,
      default: undefined
    },
    isMine: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      showAddressModal: false,
      addressCommits: []
    }
  },
  computed: {
    ...mapGetters({
      getCurrentProjectId: 'projects/getCurrentProjectId',
      getCurrentContribution: 'contributions/getCurrentContribution',
      getSubspaceUser: 'user/getSubspaceUser',
      getCommits: 'commits/getCommits'
    }),
    suggestion() {
      return this.suggestionObject?.suggestion
    },
    user() {
      return this.suggestionObject?.user
    },
    cardStatus() {
      return this.suggestion.status
        .toLowerCase()
        .split(' ')
        .map((s) => s.charAt(0).toUpperCase() + s.substring(1))
        .join(' ')
    },
    cardStatusColor() {
      if (this.suggestion.status === 'SUGGESTED') {
        return 'pink'
      } else if (this.suggestion.status === 'ADDRESSED') {
        return 'orange'
      } else if (this.suggestion.status === 'ACCEPTED') {
        return 'green'
      } else {
        return 'yellow'
      }
    },
    isOwner() {
      return this.getCurrentContribution.user.id === this.getSubspaceUser.id
    },
    isSuggester() {
      return this.suggestion.userId === this.getSubspaceUser.id
    },
    canAccept() {
      return this.isSuggester && this.suggestion.status === 'ADDRESSED'
    },
    isAddressed() {
      return this.suggestion.status === 'ADDRESSED'
    },
    isSuggested() {
      return this.suggestion.status === 'SUGGESTED'
    }
  },
  mounted() {
    this.fetchCommits({
      projectId: this.getCurrentProjectId,
      contributionId: this.getCurrentContribution.id,
      suggestionId: this.suggestion.id,
      branch: this.getCurrentContribution.branch
    })
  },
  methods: {
    ...mapActions({
      submitNewSuggestion: 'suggestions/submitNewSuggestion',
      submitRemoveSuggestion: 'suggestions/submitRemoveSuggestion',
      fetchSuggestionList: 'suggestions/fetchSuggestionList',
      fetchCommits: 'commits/fetchCommits',
      submitSuggestionAction: 'suggestionActions/submitSuggestionAction'
    }),
    onWithdrawSuggestion() {
      return this.submitRemoveSuggestion(this.suggestion.id).then(() =>
        this.fetchSuggestionList(this.getCurrentProjectId)
      )
    },
    onOpenAddressModal() {
      this.showAddressModal = true
    },
    onCloseAddressModal() {
      this.showAddressModal = false
      this.addressCommits = []
    },
    onSubmitAddress() {
      this.submitSuggestionAction({
        suggestionId: this.suggestion.id,
        action: 'ADDRESS'
      }).then(() => {
        this.fetchSuggestionList(this.getCurrentProjectId)
      })

      this.showAddressModal = false
      this.addressCommits = []
    },
    onSubmitAccept() {
      this.submitSuggestionAction({
        suggestionId: this.suggestion.id,
        action: 'ACCEPT'
      }).then(() => {
        this.fetchSuggestionList(this.getCurrentProjectId)
      })
    },
    dateFormat(date) {
      return date
        .replace('T', ' ')
        .replace('Z', ' ')
        .split('.')[0]
    }
  }
}
</script>

<style>
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 6px 0 6px 40px;
}
.f_sb {
  display: flex;
  justify-content: space-between;
}
.suggestion_md {
  margin-bottom: -25px;
  margin-right: 10px;
  width: 100%;
}
.suggestion_button {
  width: 100%;
  margin-bottom: 10px;
}
.md_margin {
  margin: 5px;
}
</style>
