<!--<template>-->
<!--  <b-card class="chart-container">-->
<!--    <div class="chart-div">-->
<!--      <canvas id="threshold-chart" />-->
<!--    </div>-->
<!--  </b-card>-->
<!--</template>-->

<!--<script>-->
<!--import { mapActions, mapGetters } from 'vuex'-->
<!--import Chart from 'chart.js'-->

<!--export default {-->
<!--  name: 'ContributionThresholdChart',-->
<!--  props: {-->
<!--    mrId: {-->
<!--      type: Number,-->
<!--      default: undefined-->
<!--    }-->
<!--  },-->
<!--  data() {-->
<!--    return {-->
<!--      showLine: false-->
<!--    }-->
<!--  },-->
<!--  computed: {-->
<!--    ...mapGetters({-->
<!--      getChartData: 'contributionChartData/getChartData'-->
<!--    }),-->
<!--    createFormattedChartData() {-->
<!--      return {-->
<!--        type: 'scatter',-->
<!--        data: {-->
<!--          datasets: [-->
<!--            {-->
<!--              label: 'Consensus Threshold',-->
<!--              data: this.getChartData.thresholds,-->
<!--              fill: false-->
<!--            },-->
<!--            {-->
<!--              label: 'Approve',-->
<!--              data: this.getChartData.approve_points,-->
<!--              backgroundColor: ['rgba(0, 0, 0, .0)'],-->
<!--              borderColor: '#05a42a'-->
<!--            },-->
<!--            {-->
<!--              label: 'Revise',-->
<!--              data: this.getChartData.revise_points,-->
<!--              backgroundColor: ['rgba(0, 0, 0, .0)'],-->
<!--              borderColor: '#ffad51'-->
<!--            },-->
<!--            {-->
<!--              label: 'Decline',-->
<!--              data: this.getChartData.decline_points,-->
<!--              backgroundColor: ['rgba(0, 0, 0, .0)'],-->
<!--              borderColor: '#d75744'-->
<!--            }-->
<!--          ]-->
<!--        },-->
<!--        options: {-->
<!--          responsive: true,-->
<!--          showLines: true,-->
<!--          elements: {-->
<!--            point: {-->
<!--              radius: 0-->
<!--            },-->
<!--            line: {-->
<!--              tension: 0-->
<!--            }-->
<!--          },-->
<!--          scales: {-->
<!--            yAxes: [-->
<!--              {-->
<!--                scaleLabel: {-->
<!--                  display: true,-->
<!--                  labelString: 'Review points'-->
<!--                }-->
<!--              }-->
<!--            ],-->
<!--            xAxes: [-->
<!--              {-->
<!--                ticks: {-->
<!--                  stepSize: 1-->
<!--                },-->
<!--                scaleLabel: {-->
<!--                  display: true,-->
<!--                  labelString: 'Time since last commit in merge-request (hours)'-->
<!--                }-->
<!--              }-->
<!--            ]-->
<!--          }-->
<!--        }-->
<!--      }-->
<!--    }-->
<!--  },-->
<!--  mounted() {-->
<!--    this.showLine = true-->
<!--    this.fetchChartData(this.mrId).then((data) => {-->
<!--      this.createChart('threshold-chart', this.createFormattedChartData)-->
<!--    })-->
<!--  },-->
<!--  methods: {-->
<!--    ...mapActions({-->
<!--      fetchChartData: 'contributionChartData/fetchChartData'-->
<!--    }),-->
<!--    createChart(chartId, chartData) {-->
<!--      const ctx = document.getElementById(chartId)-->
<!--      return new Chart(ctx, {-->
<!--        type: chartData.type,-->
<!--        data: chartData.data,-->
<!--        options: chartData.options-->
<!--      })-->
<!--    }-->
<!--  }-->
<!--}-->
<!--</script>-->

<!--<style scoped>-->
<!--.chart-div {-->
<!--  max-width: 900px;-->
<!--  max-height: 450px;-->
<!--  margin-left: auto;-->
<!--  margin-right: auto;-->
<!--}-->
<!--.chart-container {-->
<!--  margin: 10px;-->
<!--}-->
<!--</style>-->
