<template>
  <div>
    <a-breadcrumb>
      <a-breadcrumb-item>{{ host }}</a-breadcrumb-item>
      <a-breadcrumb-item
        ><a href="">{{ group }}</a></a-breadcrumb-item
      >
    </a-breadcrumb>
  </div>
</template>

<script>
export default {
  name: 'Group',
  layout: 'dashboard',
  computed: {
    host() {
      const hostParam = this.$route.params.host

      if (hostParam.toLowerCase() === 'gitlab') {
        return 'GitLab'
      } else if (hostParam.toLowerCase() === 'github') {
        return 'GitHub'
      } else if (hostParam.toLowerCase() === 'bitbucket') {
        return 'BitBucket'
      } else {
        return ''
      }
    },
    group() {
      return this.$route.params.group
    }
  }
}
</script>

<style scoped></style>
