<template>
  <a-table :data-source="users" :pagination="false" :rowKey="(user) => user.id">
    <a-table-column key="username" title="Username" data-index="username" />
    <a-table-column key="reputation" data-index="reputation" title="Reputation">
      <template slot-scope="text">
        {{ Math.round(text * 100) / 100 }}
      </template>
    </a-table-column>
  </a-table>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'ProjectUsersTable',
  data() {
    return {
      users: []
    }
  },
  computed: {
    ...mapGetters({
      getProjectUsers: 'projectUsers/getProjectUsers',
      getCurrentProjectId: 'projects/getCurrentProjectId'
    })
  },
  // not sure why this is necessary
  watch: {
    getCurrentProjectId: {
      handler(newValue) {
        if (newValue !== undefined) {
          this.fetchProjectUsers(this.getCurrentProjectId)
        }
      }
    },
    getProjectUsers: {
      deep: true,
      handler(newValue) {
        if (newValue !== undefined) {
          this.users = newValue
        }
      }
    }
  },
  mounted() {
    this.fetchProjectUsers(this.getCurrentProjectId).then(() => {
      this.users = this.getProjectUsers
    })
  },
  methods: {
    ...mapActions({
      fetchProjectUsers: 'projectUsers/fetchProjectUsers'
    })
  }
}
</script>

<style scoped></style>
