<template>
  <a-tag style="font-size: 18px">
    {{ userName }} | <b>{{ Math.round(userRep) }}</b>
  </a-tag>
</template>

<script>
export default {
  name: 'UserTagLarge',
  props: {
    userName: {
      type: String,
      default: 'JohnDoe'
    },
    userRep: {
      type: Number,
      default: 0
    }
  }
}
</script>

<style scoped></style>
