<template>
  <a-table
    :data-source="requests"
    :pagination="false"
    :rowKey="(request) => request.userId"
  >
    <a-table-column key="username" title="Username" data-index="username" />
    <a-table-column key="reputation" data-index="reputation" title="Reputation">
      <template slot-scope="text">
        {{ Math.round(text * 100) / 100 }}
      </template>
    </a-table-column>
  </a-table>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'UserJoinRequestTable',
  data() {
    return {
      requests: []
    }
  },
  computed: {
    ...mapGetters({
      getProjectUsers: 'projectUsers/getProjectUsers',
      getCurrentProjectId: 'projects/getCurrentProjectId'
    })
  },
  mounted() {},
  methods: {
    ...mapActions({
      fetchProjectUsers: 'projectUsers/fetchProjectUsers'
    })
  }
}
</script>

<style scoped></style>
