<template>
  <a-tag>
    {{ username }} | <b>{{ reputation }}</b>
  </a-tag>
</template>

<script>
export default {
  name: 'UserTag',
  props: {
    user: {
      type: Object,
      default: undefined
    }
  },
  computed: {
    username() {
      return this.user?.username || ''
    },
    reputation() {
      return Math.round(this.user?.reputation || 0)
    }
  }
}
</script>

<style scoped></style>
