<template>
  <div>
    <ContributionCard
      v-if="getCurrentContribution"
      :iid="contributionIid"
      :contribution="getCurrentContribution"
    />
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import ContributionCard from '../../../../../components/contribution/ContributionCard'

export default {
  auth: false,
  name: 'Contribution',
  layout: 'project',
  components: {
    ContributionCard
  },
  data() {
    return {
      iid: undefined
    }
  },
  computed: {
    ...mapGetters({
      getCurrentProjectId: 'projects/getCurrentProjectId',
      getCurrentContribution: 'contributions/getCurrentContribution'
    }),
    contributionIid() {
      return parseInt(this.$route.params?.contribution)
    }
  },
  watch: {
    getCurrentProjectId: {
      handler(newValue) {
        if (newValue !== undefined) {
          this.fetchContribution()
        }
      }
    }
  },
  mounted() {
    this.fetchContribution()
  },
  methods: {
    ...mapActions({
      fetchContributionDetails: 'contributions/fetchContributionDetails'
    }),
    fetchContribution() {
      if (this.getCurrentProjectId && this.contributionIid) {
        this.fetchContributionDetails({
          projectId: this.getCurrentProjectId,
          contributionIid: this.contributionIid
        })
      }
    }
  }
}
</script>

<style scoped></style>
