<template>
  <div>
    <a-divider orientation="left">Contributions</a-divider>
    <EditContributionDrawer
      v-if="$auth.loggedIn"
      :is-new="true"
      style="margin: 15px"
    />
    <ContributionLists />
  </div>
</template>

<script>
import EditContributionDrawer from '../../../../../components/contribution/EditContributionDrawer'
import ContributionLists from '../../../../../components/contribution/ContributionLists'

export default {
  auth: false,
  name: 'Contributions',
  components: {
    EditContributionDrawer,
    ContributionLists
  },
  layout: 'project',
  head() {
    return {
      title: 'Subspace'
    }
  }
}
</script>

<style scoped></style>
