<template>
  <div>
    <a-alert
      message="Note: Adding a private project to Subspace does not change repository permissions. Only developers with up-to-date access can view a project in Subspace."
      type="info"
      show-icon
      class="note"
    />
    <div class="list-container">
      <RepoList />
      <!--      <div v-if="getGitUser.git_user_username">-->
      <!--        <a-list-item class="list-item">-->
      <!--          <a-list-item-meta description="">-->
      <!--            <a slot="title" href="" target="_blank">-->
      <!--              {{ getGitUser.git_user_username }}-->
      <!--            </a>-->
      <!--            <a-avatar slot="avatar" shape="square" />-->
      <!--          </a-list-item-meta>-->
      <!--          &lt;!&ndash;          <a-button class="add-group-button">&ndash;&gt;-->
      <!--          &lt;!&ndash;            <a-icon type="plus-circle" /> Onboard my repositories&ndash;&gt;-->
      <!--          &lt;!&ndash;          </a-button>&ndash;&gt;-->
      <!--        </a-list-item>-->
      <!--        <RepoList :group-filter="getGitUser.git_user_username" />-->
      <!--      </div>-->
      <!--      <div v-for="(gitGroup, i) in getGitGroups" :key="i">-->
      <!--        <a-list-item class="list-item">-->
      <!--          <a-list-item-meta :description="gitGroup.description">-->
      <!--            <a slot="title" :href="gitGroup.webUrl" target="_blank">-->
      <!--              {{ gitGroup.name }}-->
      <!--            </a>-->
      <!--            <a-avatar slot="avatar" :src="gitGroup.icon" shape="square" />-->
      <!--          </a-list-item-meta>-->
      <!--          &lt;!&ndash;          <a-button class="add-group-button">&ndash;&gt;-->
      <!--          &lt;!&ndash;            <a-icon type="plus-circle" /> Onboard group repositories&ndash;&gt;-->
      <!--          &lt;!&ndash;          </a-button>&ndash;&gt;-->
      <!--        </a-list-item>-->
      <!--        <RepoList :group-filter="gitGroup.name" />-->
      <!--      </div>-->
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import RepoList from '../repository/RepoList'

export default {
  name: 'OnboardingCard',
  components: { RepoList },
  data() {
    return {}
  },
  computed: {
    ...mapGetters({
      getGitGroups: 'gitGroups/getGitGroups',
      getGitRepos: 'gitRepos/getGitRepos',
      getGitUser: 'user/getGitUser',
      getOnboardedError: 'onboarding/getOnboardedError'
    })
  },
  watch: {
    getOnboardedError: {
      deep: true,
      handler(newMsg) {
        if (newMsg !== undefined) {
          this.$notification.open({
            message: 'Onboarding Error',
            description: newMsg
          })
        }
      }
    }
  }
}
</script>
<style scoped>
.note {
  margin: 20px;
}
.list-container {
  margin-left: 20px;
  margin-right: 20px;
  border-top: 1px solid #e8e8e8;
}
.list-item {
  border-bottom: 1px solid #e8e8e8;
}
.add-group-button {
  /*margin-right: 20px;*/
}
</style>
