<template>
  <GroupList />
</template>

<script>
import GroupList from '~/components/groups/GroupList'

export default {
  name: 'Groups',
  components: {
    GroupList
  },
  layout: 'dashboard',
  head() {
    return {
      title: 'Subspace'
    }
  }
}
</script>

<style scoped></style>
