<template>
  <div>
    <a-divider orientation="left">GitLab Repositories</a-divider>
    <RepoList />
  </div>
</template>

<script>
import RepoList from '~/components/repos/RepoList'

export default {
  name: 'Repos',
  components: {
    RepoList
  },
  layout: 'dashboard',
  head() {
    return {
      title: 'Subspace'
    }
  }
}
</script>

<style scoped></style>
