<template>
  <div>
    <TaskCard />
  </div>
</template>

<script>
import TaskCard from '../components/task/TaskCard'

export default {
  name: 'Task',
  components: {
    TaskCard
  },
  layout: 'dashboard',
  head() {
    return {
      title: 'Subspace'
    }
  }
}
</script>

<style scoped></style>
