<template>
  <div />
</template>

<script>
export default {
  mounted() {
    if (this.$auth.getToken('gitlab')) {
      this.$axios.$get(
        process.env.backendUrl +
          '/api/auth/stripe/callback?' +
          'code=' +
          this.$route.query.code +
          '&' +
          'scope=' +
          this.$route.query.scope
      )
    }
    this.$router.push('/account')
  },
  head() {
    return {
      title: 'Subspace'
    }
  }
}
</script>

<style scoped></style>
