<template>
  <div>
    <a-button class="add-repo-button" @click="showDrawer">
      <a-icon type="plus-circle" /> Onboard to Subspace
    </a-button>
    <a-drawer
      :width="720"
      :visible="visible"
      :wrap-style="{
        height: 'calc(100% - 108px)',
        overflow: 'auto',
        paddingBottom: '108px'
      }"
      @close="onClose"
    >
      <template slot="title">
        <div>Onboarding repository to Subspace:</div>
        <div class="name-namespace">{{ repoNameNamespace }}</div>
      </template>
      <a-divider orientation="left">Subspace participation settings</a-divider>
      (These settings can be adjusted at any time)
      <br />
      <br />
      <a-form :form="form" layout="vertical" hide-required-mark>
        <a-row :gutter="16">
          <a-col :span="12">
            <a-form-item label="Min. reputation for proposing code changes">
              <a-input-number :min="0" :max="1000" :default-value="0" />
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item label="Min. reputation for blocking suggestions">
              <a-input-number :min="0" :max="1000" :default-value="100" />
            </a-form-item>
          </a-col>
        </a-row>
        <a-row :gutter="16">
          <a-col :span="12">
            <a-form-item label="Owner">
              <a-select
                v-decorator="[
                  'owner',
                  {
                    rules: [
                      { required: true, message: 'Please select an owner' }
                    ]
                  }
                ]"
                placeholder="Please a-s an owner"
              >
                <a-select-option value="xiao">Xiaoxiao Fu</a-select-option>
                <a-select-option value="mao">Maomao Zhou</a-select-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item label="Type">
              <a-select
                v-decorator="[
                  'type',
                  {
                    rules: [
                      { required: true, message: 'Please choose the type' }
                    ]
                  }
                ]"
                placeholder="Please choose the type"
              >
                <a-select-option value="private">Private</a-select-option>
                <a-select-option value="public">Public</a-select-option>
              </a-select>
            </a-form-item>
          </a-col>
        </a-row>
        <a-row :gutter="16">
          <a-col :span="12">
            <a-form-item label="Approver">
              <a-select
                v-decorator="[
                  'approver',
                  {
                    rules: [
                      { required: true, message: 'Please choose the approver' }
                    ]
                  }
                ]"
                placeholder="Please choose the approver"
              >
                <a-select-option value="jack">Jack Ma</a-select-option>
                <a-select-option value="tom">Tom Liu</a-select-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item label="DateTime">
              <a-date-picker
                v-decorator="[
                  'dateTime',
                  {
                    rules: [
                      { required: true, message: 'Please choose the dateTime' }
                    ]
                  }
                ]"
                style="width: 100%"
                :get-popup-container="(trigger) => trigger.parentNode"
              />
            </a-form-item>
          </a-col>
        </a-row>
        <a-row :gutter="16">
          <a-col :span="24">
            <a-form-item label="Description">
              <a-textarea
                v-decorator="[
                  'description',
                  {
                    rules: [
                      {
                        required: true,
                        message: 'Please enter url description'
                      }
                    ]
                  }
                ]"
                :rows="4"
                placeholder="please enter url description"
              />
            </a-form-item>
          </a-col>
        </a-row>
      </a-form>
      <div
        :style="{
          position: 'absolute',
          left: 0,
          bottom: 0,
          width: '100%',
          borderTop: '1px solid #e9e9e9',
          padding: '10px 16px',
          background: '#fff',
          textAlign: 'right'
        }"
      >
        <a-button :style="{ marginRight: '8px' }" @click="onClose">
          Cancel
        </a-button>
        <a-button type="primary" @click="onClose">Submit</a-button>
      </div>
    </a-drawer>
  </div>
</template>
<script>
export default {
  name: 'OnboardRepoDrawer',
  props: {
    gitRepo: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      form: this.$form.createForm(this),
      visible: false
    }
  },
  computed: {
    drawerTitle() {
      return 'Onboard ' + ' to Subspace'
    },
    repoNameNamespace() {
      return this.gitRepo.namespace + ' / ' + this.gitRepo.name
    }
  },
  methods: {
    showDrawer() {
      this.visible = true
    },
    onClose() {
      this.visible = false
    }
  }
}
</script>

<style scoped>
.add-repo-button {
  margin-right: 20px;
}
.name-namespace {
  margin-top: 10px;
  font-family: 'Courier New';
  font-weight: bold;
}
</style>
