<template>
  <div>
    <div class="git-group-list">
      <div v-for="(gitRepo, i) in filteredGitRepos" :key="i">
        <a-list-item class="list-item">
          <a-list-item-meta :description="gitRepo.description">
            <a slot="title" :href="gitRepo.webUrl" target="_blank">
              {{ gitRepo.nameWithNamespace }}
            </a>
            <a-avatar
              slot="avatar"
              v-if="gitRepo.icon"
              :src="gitRepo.icon"
              shape="square"
            />
          </a-list-item-meta>
          <div v-if="!gitRepo.onboarded">
            <a-button
              @click="
                submitOnboardProject({
                  host: gitRepo.host,
                  hostProjectId: gitRepo.host_project_id
                })
              "
              class="button-space"
            >
              <a-icon type="plus-circle" /> Onboard project
            </a-button>
          </div>
          <div v-else>
            <a-button class="already-done-button button-space" disabled>
              <a-icon type="check-circle" /> Onboarded
            </a-button>
          </div>
          <div v-if="gitRepo.onboarded">
            <div v-if="!gitRepo.joined">
              <a-button
                @click="joinProject(gitRepo.host, gitRepo.host_project_id)"
                class="button-space"
              >
                <a-icon type="plus-circle" /> Join project
              </a-button>
            </div>
            <div v-else>
              <a-button class="already-done-button button-space" disabled>
                <a-icon type="check-circle" /> Joined
              </a-button>
            </div>
          </div>
        </a-list-item>
      </div>
    </div>
  </div>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  props: {
    // eslint-disable-next-line vue/require-default-prop
    groupFilter: {
      type: String
    }
  },
  data() {
    return {
      error: ''
    }
  },
  computed: {
    ...mapGetters({
      getGitRepos: 'gitRepos/getGitRepos',
      getGitUser: 'gitUser/getGitUser',
      getOnboardedProject: 'onboarding/getOnboardedProject',
      getOnboardedError: 'onboarding/getOnboardedError'
    }),
    filteredGitRepos() {
      if (this.groupFilter) {
        return this.getGitRepos.filter((repo) => {
          return repo.namespace === this.groupFilter
        })
      } else {
        return this.getGitRepos
      }
    }
  },
  methods: {
    ...mapActions({
      submitOnboardProject: 'onboarding/submitOnboardProject',
      addProjectUser: 'projectUsers/addProjectUser',
      fetchGitRepos: 'gitRepos/fetchGitRepos'
    }),
    joinProject(host, hostProjectId) {
      this.addProjectUser({
        host,
        hostProjectId
      }).then(() => this.fetchGitRepos())
    }
  }
}
</script>
<style scoped>
.git-group-list {
  margin-left: 40px;
}
.list-item {
  border-bottom: 1px solid #e8e8e8;
}
.already-done-button {
  cursor: default;
  pointer-events: none;
}
.button-space {
  margin-left: 20px;
}
</style>
