<template>
  <div>
    <a-divider orientation="left">GitLab Groups</a-divider>
    <div class="git-group-list">
      <div v-for="(gitGroup, i) in getGitGroups" :key="i">
        <a-list-item class="list-item">
          <a-list-item-meta :description="gitGroup.description">
            <a slot="title" :href="gitGroup.webUrl" target="_blank">
              {{ gitGroup.name }}
            </a>
            <a-avatar slot="avatar" shape="square" :src="gitGroup.icon" />
          </a-list-item-meta>
          <a-button class="add-group-button">
            <a-icon type="plus-circle" /> Onboard to Subspace
          </a-button>
        </a-list-item>
      </div>
    </div>
  </div>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  data() {
    return {}
  },
  computed: {
    ...mapGetters({
      getGitGroups: 'gitGroups/getGitGroups'
    })
  },
  mounted() {
    // this.fetchGitGroups()
  },
  methods: {
    ...mapActions({
      fetchGitGroups: 'gitGroups/fetchGitGroups'
    })
  }
}
</script>
<style scoped>
.git-group-list {
  margin-left: 20px;
  margin-right: 20px;
}
.list-item {
  border-bottom: 1px solid #e8e8e8;
}
.add-group-button {
  /*margin-right: 20px;*/
}
</style>
